{% comment %}
  Renders cart notification

  Accepts:
  - color_scheme: {String} sets the color scheme of the notification (optional)
  - desktop_menu_type: {String} passes the desktop menu type which allows us to use the right css class (optional)

  Usage:
  {% render 'cart-notification' %}
{% endcomment %}

<cart-notification class="cart-notification" id="cart-notification">
  <div class="cart-notification-wrapper fixed left-[50%] lg:left-[63%] -translate-x-1/2 -translate-y-1/2 z-10 max-w-[471px]">
    <button
      type="button"
      class="cart-notification__close modal__close-button font-bold font-coutureBold absolute bottom-full mb-4 right-0 text-[18px] text-white w-[34px] h-[34px] rounded-full bg-black leading-none flex justify-center items-center cursor-pointer"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      x
    </button>
    <div
      class="focus-inset border border-[#5a5a5a] bg-white px-2.5 pt-5 max-h-[740px] cart-notification-wrapper-block"
      aria-modal="true"
      aria-label="{{ 'general.cart.item_added' | t }}"
      role="dialog"
      tabindex="-1"
    >
      <div class="cart-notification__header text-center uppercase leading-none mb-[24px] lg:mb-[32px]">
        <p class="text-[19px] tracking-widest font-normal">Added To</p>
        <h2 class="cart-notification__heading uppercase text-[38px] md:text-[42px] font-coutureBold leading-none tracking-widest font-bold">
          CART
        </h2>
        <div class="mt-[28px] lg:mt-10">
          <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Shopping-Bag-Logo text-[50px] lg:text-[58px]"> </span>
        </div>
      </div>
      <div class="mb-1.5 max-h-[36vh] cart-notification__wrapper overflow-x-hidden overflow-y-auto">
        <div
          id="cart-notification-product"
          class="cart-notification-product pr-2.5"
        ></div>
        {%- if cart != empty -%}
          {%- for item in cart.items -%}
            {%- for i in (1..item.quantity) -%}
              <div
                class="cart-item pr-2.5"
              >
                <div class="flex items-center mb-2.5 lg:mb-4 pb-2.5 lg:pb-4 border-b border-[#8c8c8c]">
                  {%- if item.image -%}
                    <div class="cart-notification-product__image global-media-settings w-[90px] lg:w-[107px] h-[90px] lg:h-[107px]">
                      <img
                        src="{{ item.image | image_url: width: 140 }}"
                        alt="{{ item.image.alt | escape }}"
                        class="w-full h-full object-cover"
                        width="107"
                        height="{{ 107 | divided_by: item.image.aspect_ratio | ceil }}"
                        loading="lazy"
                      >
                    </div>
                  {%- endif -%}
                  <div class="flex-1 ml-[25px]">
                    <h3 class="cart-notification-product__name text-[22px] lg:text-[25px] font-bold leading-none">
                      {{ item.product.title | escape }}
                    </h3>
                    <p class="text-gray-850 italic max-lg:text-[1px] mb-3">by {{ item.product.vendor }}</p>
                    <div class="flex justify-between items-end">
                      <dl>
                        {%- unless item.product.has_only_default_variant -%}
                          {%- for option in item.options_with_values -%}
                            <div class="product-option">
                              <dd class="text-[18px] lg:text-[22px] leading-none">{{ option.value }}</dd>
                            </div>
                          {%- endfor -%}
                        {%- endunless -%}
                        {%- for property in item.properties -%}
                          {%- assign property_first_char = property.first | slice: 0 -%}
                          {%- if property.last != blank and property_first_char != '_' -%}
                            <div class="product-option">
                              <dd class="text-[18px] lg:text-[22px] leading-none">
                                {{ property.last }}
                              </dd>
                            </div>
                          {%- endif -%}
                        {%- endfor -%}
                      </dl>
                      <div>
                        <p class="text-[22px] lg:text-[25px] font-bold text-right leading-none">
                          {{ item.price | money_with_currency }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
      <div>
        <p class="text-[11px] leading-none tracking-widest uppercase mb-5 italic font-bold">
          *FREE SHIPPING FOR ORDERS OVER 100 EUR
        </p>
      </div>
      <div class="flex flex-col items-center pb-5">
        <a
          href="{{ routes.cart_url }}"
          class="btn btn_outlined !text-[24px] mb-4 w-full max-w-[328px]"
        >
          Go To Cart
        </a>
        <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form" class="w-full max-w-[328px]">
          <button class="btn btn_primary w-full !text-[24px] !py-3" name="checkout">Proceed to order</button>
        </form>
      </div>
    </div>
  </div>
  <a
    href="{{ routes.cart_url }}"
    id="cart-notification-button"
    class="!hidden"
  >
    {{- 'general.cart.view_empty_cart' | t -}}
  </a>
</cart-notification>
{% style %}
  .cart-notification {
    display: none;
  }
{% endstyle %}
