{% comment %}
  Renders cart notification

  Accepts:
  - color_scheme: {String} sets the color scheme of the notification (optional)
  - desktop_menu_type: {String} passes the desktop menu type which allows us to use the right css class (optional)

  Usage:
  {% render 'cart-notification' %}
{% endcomment %}

<cart-notification class="cart-notification fixed top-0 left-0 w-full h-full z-[99999]" id="cart-notification">
  <div class="relative w-full h-full flex pt-[60px] pb-4 overflow-y-auto">
    <div class="cart-notification-wrapper my-auto relative left-[50%] lg:left-[63%] -translate-x-1/2 z-10 max-w-[471px]">
      <button
        type="button"
        class="cart-notification__close modal__close-button font-bold font-coutureBold absolute bottom-full mb-4 right-0 text-[18px] text-white w-7 md:w-[34px] h-7 md:h-[34px] rounded-full bg-black leading-none flex justify-center items-center cursor-pointer"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        x
      </button>
      <div
        class="focus-inset border border-[#5a5a5a] bg-white px-2.5 pt-5 cart-notification-wrapper-block"
        aria-modal="true"
        aria-label="{{ 'general.cart.item_added' | t }}"
        role="dialog"
        tabindex="-1"
      >
        <div class="cart-notification__header text-center uppercase leading-none mb-[24px] lg:mb-[32px]">
          <p class="text-[17px] md:text-[19px] tracking-widest font-normal">Added To</p>
          <h2 class="cart-notification__heading uppercase text-[34px] md:text-[42px] font-coutureBold leading-none tracking-widest font-bold">
            CART
          </h2>
          <div class="mt-[28px] lg:mt-10">
            <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Shopping-Bag-Logo text-[40px] lg:text-[58px]"> </span>
          </div>
        </div>
        <div class="mb-1.5 max-h-[34dvh] md:max-h-[36vh] cart-notification__wrapper overflow-x-hidden overflow-y-auto">
          <div id="cart-notification-added-product"></div>
        </div>
        <div>
          <p class="text-[9px] md:text-[11px] leading-none tracking-widest uppercase mb-5 italic font-bold">
            *FREE SHIPPING FOR ORDERS OVER 100 EUR
          </p>
        </div>
        <div class="flex flex-col items-center pb-5">
          <a
            href="{{ routes.cart_url }}"
            class="btn btn_outlined text-[20px] md:!text-[24px] mb-4 w-full max-w-[90%]"
          >
            Go To Cart
          </a>
          <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form" class="w-full max-w-[90%]">
            <button class="btn btn_primary w-full text-[20px] md:!text-[24px] !py-3" name="checkout">
              Proceed to order
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <a
    href="{{ routes.cart_url }}"
    id="cart-notification-button"
    class="!hidden"
  >
    {{- 'general.cart.view_empty_cart' | t -}}
  </a>
</cart-notification>
{% style %}
  .cart-notification {
    display: none;
  }
{% endstyle %}
