{% comment %}
  Renders add to favorites button.
  Usage:
  {% render 'favorites' %}
{% endcomment %}
{% if customer %}
  {%- assign data_no_variant = true -%}
  {% if product.variants.size == 1 %}
    {%- assign data_no_variant = false -%}
  {%- endif -%}
  {% assign vat_text = '' %}
  {% for collection in product.collections %}
    {% if collection.metafields.custom.vat_shipping != blank %}
      {% assign vat_text = collection.metafields.custom.vat_shipping %}
      {% break %}
    {%- endif -%}
  {% endfor %}
  {% assign collections_list = '' %}
  {% for collection in product.collections %}
    {% assign collections_list = collections_list | append: collection.handle %}
    {% if forloop.last == false %}
      {% assign collections_list = collections_list | append: ',' %}
    {% endif %}
  {% endfor %}
  <button
    class="w-full wishlist-button block"
    type="button"
    aria-label="{{ 'general.favorites.save_product' | t  }}"
    title="{{ 'general.favorites.save_product' | t  }}"
    data-id="{{ product.id }}"
    data-variant-id="{{ product.id }}"
    data-title="{{ product.title }}"
    data-vendor="{{ product.vendor }}"
    data-price="{{ product.price }}"
    data-image="{{ product | image_url: width: 1200 }}"
    data-url="{{ product.url }}"
    data-toggle="true"
    data-no-variant="{{ data_no_variant }}"
    data-vat-text="{{ vat_text }}"
    data-collections="{{ collections_list }}"
    {% unless product.selected_or_first_available_variant.available %}
      disabled
    {% endunless %}
    {% unless data_no_variant %}
      {%- for option in product.options_with_values -%}
        {%- for value in option.values -%}
          {% if option.selected_value == value %}
            {% assign value_option = value | downcase %}
            data-variant-option-{{ option.name }}="{{- value_option -}}"
          {% endif %}
        {%- endfor -%}
      {%- endfor -%}
    {% endunless %}
  >
    <span class="visually-hidden">{{ 'general.favorites.save_product' | t }}</span>
    {%- render 'icon-heart' -%}
  </button>
{% else %}
  <button
    class="w-full cta-login-button block"
    type="button"
    aria-label="{{ 'general.favorites.save_product' | t  }}"
    title="{{ 'general.favorites.save_product' | t  }}"
  >
    <span class="visually-hidden">{{ 'general.favorites.save_product' | t }}</span>
    {%- render 'icon-heart' -%}
  </button>
{% endif %}
