{% comment %}
  Renders add to favorites button.
  Usage:
  {% render 'favorites' %}
{% endcomment %}

<button
  class="w-full"
  type="button wishlist-button"
  aria-label="{{ 'general.favorites.save_product' | t  }}"
  title="{{ 'general.favorites.save_product' | t  }}"
  data-id="{{ product.id }}"
  data-variant-id="{{ product.id }}"
  data-title="{{ product.title }}"
  data-vendor="{{ product.vendor }}"
  data-price="{{ product.price }}"
>
  <span class="visually-hidden">{{ 'general.favorites.save_product' | t }}</span>
  {%- render 'icon-heart' -%}
</button>
