{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}
<nav>
  <accordion-list>
    <ul role="list" class="space-y-5 md:space-y-3.5">
      {%- for link in section.settings.menu.links -%}
        <li
          {% if forloop.first %}
            class="pt-12 md:pt-0"
          {% endif %}
        >
          {%- if link.links != blank -%}
            {%- liquid
              assign active_item = false
              if template.name == 'product'
                for collection in product.collections
                  for childlink in link.links
                    assign collection_title = collection.title | escape | downcase
                    assign childlink_title = childlink.title | escape | downcase
                    if collection_title contains childlink_title
                      assign active_item = true
                    endif
                  endfor
                endfor
              endif
            -%}
            {%- for collection in product.collections -%}
              {{ collection.title }}
            {%- endfor -%}
            <accordion-item
              class="{% if link.child_active or active_item %}open{% endif %}"
              {% if link.child_active or active_item %}
                data-open
              {% endif %}
            >
              <div
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item accordion-toggle cursor-pointer"
              >
                <span
                  class="inline-block font-coutureBold tracking-widerx text-[34px] md:text-[29px] uppercase leading-none relative after:content-[''] after:block after:h-[1px] after:absolute after:-left-[8px] after:top-1/2 after:bg-black{%- if link.child_active or active_item %} header__active-menu-item{% endif %}"
                >
                  {{- link.title | escape -}}
                </span>
              </div>
              <div
                class="accordion-content overflow-hidden{% if link.child_active or active_item %}  open-initially{%  else %} h-0 transition-all duration-300 ease-in-out{% endif %}"
              >
                <ul
                  id="HeaderMenu-MenuList-{{ forloop.index }}"
                  class="space-y-3 md:space-y-1 pb-2.5 md:pb-[30px] pt-2"
                  role="list"
                  tabindex="-1"
                >
                  {%- for childlink in link.links -%}
                    {%- liquid
                      assign active_item = false
                      if template.name == 'product'
                        for collection in product.collections
                          assign collection_title = collection.title | escape | downcase
                          assign childlink_title = childlink.title | escape | downcase
                          if collection_title contains childlink_title
                            assign active_item = true
                          endif
                        endfor
                      endif
                    -%}
                    <li>
                      {%- if childlink.links == blank -%}
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="font-coutureBold text-[20px] md:text-[23px] text-gray-800 md:text-gray-200 uppercase duration-300 ease-in-out tracking-widerx{% if childlink.current or active_item %} header__menu-item-active{% endif %}"
                          style="{% if childlink.current or active_item %}color: {{settings.second_color}}{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </accordion-item>
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="header__menu-item font-coutureBold tracking-widerx text-[34px] md:text-[29px] uppercase leading-none relative after:content-[''] after:block after:h-[1px] after:absolute after:-left-[8px] after:top-1/2 after:bg-black{% if link.current %} open{% endif %}"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </accordion-list>
</nav>
