{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    class="no-js-hidden"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    {% if update_url == false %}
      data-update-url="false"
    {% endif %}
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      <div class="product-form__input product-form__input--dropdown">
        <div class="select">
          <select
            id="Option-{{ section.id }}-{{ forloop.index0 }}"
            class="select__select"
            name="options[{{ option.name | escape }}]"
            form="{{ product_form_id }}"
          >
            {%- for value in option.values -%}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}
                  selected="selected"
                {% endif %}
              >
                {{- value -}}
              </option>
            {%- endfor -%}
          </select>
          {% comment %} {% render 'icon-caret' %} {% endcomment %}
        </div>
      </div>
    {%- endfor -%}
  </variant-selects>
  {%- for option in product.options_with_values -%}
    <div class="custom-select">
      {%- for value in option.values -%}
        <div class="custom-select__trigger">
          <span>{{- value -}}</span>
        </div>
      {%- endfor -%}
      <div class="custom-select__options">
        {%- for value in option.values -%}
          <span class="custom-option" data-value="{{ value | escape }}">{{- value -}}</span>
        {%- endfor -%}
      </div>
    </div>
  {%- endfor -%}
  <script type="application/json">
    {{ product.variants | json }}
  </script>
{%- endunless -%}
