{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <div class="select-container {% if product.variants.size == 1 and template == 'product.originals-product-page' %} max-lg:flex max-lg:items-center max-lg:justify-center{% endif %}">
    {%- if product.variants.size >= 1 and template != 'product.originals-product-page' -%}
      <variant-selects
        id="variant-selects-{{ section.id }}"
        class="no-js-hidden product__options grid grid-cols-2 lg:grid-cols-1 gap-[15px] lg:gap-[27px] lg:max-w-[218px]"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
        {% if update_url == false %}
          data-update-url="false"
        {% endif %}
        {{ block.shopify_attributes }}
      >
        {%- for option in product.options_with_values -%}
          <div class="custom-select relative">
            {%- for value in option.values -%}
              {% if option.selected_value == value %}
                <div class="select-trigger cursor-pointer border lg:border-2 border-black flex h-10 lg:h-12">
                  <div class="flex items-center pl-2.5 flex-1">
                    <span class="selected-text font-helveticaLight line-clamp-1 text-[19px] lg:text-2xl text-black font-normal tracking-widerx">
                      {{- value -}}
                    </span>
                  </div>
                  <div class="w-11 select-icon lg:border-l-2 border-black flex items-center justify-center">
                    <span
                      class="icon-FULL-ICON-SET-WEBSITE-FINAL_Dropdown-arrow font-semibold text-[19px] lg:text-2xl duration-100 ease-in-out"
                    ></span>
                  </div>
                </div>
              {% endif %}
            {%- endfor -%}
            <ul class="select-options hidden absolute z-[2] top-full -mt-[1px] lg:-mt-[2px] left-0 border lg:border-2 border-t-0 border-black bg-white">
              {%- for value in option.values -%}
                <li class="custom-option{% if option.selected_value == value %} selected{% endif %}">
                  <label class="cursor-pointer px-2.5 h-11 flex items-center duration-200 ease-in-out">
                    <input
                      {% if option.selected_value == value %}
                        checked
                      {% endif %}
                      type="radio"
                      name="{{ option.name }}"
                      value="{{- value -}}"
                      class="invisible w-0 h-0"
                    >
                    <span
                      data-id="{{ value | escape }}"
                      class="line-clamp-1 text-[19px] lg:text-2xl text-black tracking-widerx"
                    >
                      {{- value -}}
                    </span>
                  </label>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endfor -%}
        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </variant-selects>
    {%- elsif product.variants.size > 1 and template == 'product.originals-product-page' -%}
      <variant-selects
        id="variant-selects-{{ section.id }}"
        class="no-js-hidden product__options grid grid-cols-2 lg:grid-cols-1 gap-3.5 lg:gap-7 lg:max-w-[218px]"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
        {% if update_url == false %}
          data-update-url="false"
        {% endif %}
        {{ block.shopify_attributes }}
      >
        {%- for option in product.options_with_values -%}
          <div class="custom-select relative">
            {%- for value in option.values -%}
              {% if option.selected_value == value %}
                <div class="select-trigger cursor-pointer border lg:border-2 border-black flex h-10 lg:h-12">
                  <div class="flex items-center pl-2.5 flex-1">
                    <span class="selected-text font-helveticaLight line-clamp-1 text-[19px] lg:text-2xl text-black font-normal tracking-widerx">
                      {{- value -}}
                    </span>
                  </div>
                  <div class="w-11 select-icon lg:border-l-2 border-black flex items-center justify-center">
                    <span
                      class="icon-FULL-ICON-SET-WEBSITE-FINAL_Dropdown-arrow font-semibold text-[19px] lg:text-2xl duration-100 ease-in-out"
                    ></span>
                  </div>
                </div>
              {% endif %}
            {%- endfor -%}
            <ul class="select-options hidden absolute z-[2] top-full -mt-[1px] lg:-mt-[2px] left-0 border lg:border-2 border-t-0 border-black bg-white">
              {%- for value in option.values -%}
                <li class="custom-option{% if option.selected_value == value %} selected{% endif %}">
                  <label class="cursor-pointer px-2.5 h-11 flex items-center duration-200 ease-in-out">
                    <input
                      {% if option.selected_value == value %}
                        checked
                      {% endif %}
                      type="radio"
                      name="{{ option.name }}"
                      value="{{- value -}}"
                      class="invisible w-0 h-0"
                    >
                    <span
                      data-id="{{ value | escape }}"
                      class="line-clamp-1 text-[19px] lg:text-2xl text-black tracking-widerx"
                    >
                      {{- value -}}
                    </span>
                  </label>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endfor -%}
        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </variant-selects>
    {%- elsif product.variants.size == 1 and template == 'product.originals-product-page' -%}
      {%- for option in product.options_with_values -%}
        {% if forloop.index == 2 %}
          <div class="lg:hidden text-[19px] px-2">/</div>
        {% endif %}
        <div
          {% unless forloop.last %}
            class="lg:mb-3"
          {% endunless %}
        >
          {%- for value in option.values -%}
            {% if option.selected_value == value %}
              <h3 class="text-[19px] lg:text-2xl leading-none">
                {{- value -}}
              </h3>
            {% endif %}
          {%- endfor -%}
        </div>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    {% endif %}
  </div>
{%- endunless -%}
