{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  assign id_append = ''
  assign media_count = product.media.size
  assign media_width = 0.65
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

<div class="splide" aria-label="Product Slider" id="MediaGallery-{{ section.id }}{{ id_append }}">
  <div class="splide__track">
    <ul class="splide__list">
      {%- for media in product.media -%}
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
          <li
            class="splide__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            data-media-id="{{ section.id }}-{{ media.id }}"
          >
            {% render 'product-thumbnail',
              media: media,
              media_width: media_width,
              media_count: media_count,
              lazy_load: lazy_load
            %}
          </li>
        {%- endif -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <li
            class="splide__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            data-media-id="{{ section.id }}-{{ media.id }}"
          >
            {% render 'product-thumbnail',
              media: media,
              media_width: media_width,
              media_count: media_count,
              lazy_load: lazy_load
            %}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
  </div>
</div>
<div
  class="splide-thumbnails"
  aria-label="Product Slider Thumbnails"
  id="GalleryThumbnails-{{ section.id }}{{ id_append }}"
>
  <div class="splide__track">
    <ul class="splide__list">
      {%- capture sizes -%}
        (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4),
        (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4),
        (min-width: 750px) calc((100vw - 15rem) / 8),
        calc((100vw - 8rem) / 3)
      {%- endcapture -%}
      {%- if featured_media != null -%}
        <li
          class="splide__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          data-media-id="{{ section.id }}-{{ media.id }}"
        >
          {{
            featured_media.preview_image
            | image_url: width: 416
            | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: '54, 74, 104, 162, 208, 324, 416',
              id: thumbnail_id,
              alt: featured_media.alt
            | escape
          }}
        </li>
      {%- endif -%}
      {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <li
            class="splide__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            data-media-id="{{ section.id }}-{{ media.id }}"
          >
            {{
              media.preview_image
              | image_url: width: 416
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '54, 74, 104, 162, 208, 324, 416',
                id: thumbnail_id,
                alt: media.alt
              | escape
            }}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
  </div>
</div>
