{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <div class="select-container">
    <variant-selects
      id="variant-selects-{{ section.id }}"
      class="no-js-hidden product__options grid gap-7 max-w-[218px]"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <div class="custom-select relative">
          {%- for value in option.values -%}
            {% if option.selected_value == value %}
              <div class="select-trigger cursor-pointer border-2 border-black flex h-12">
                <div class="flex items-center pl-2.5 flex-1">
                  <span class="selected-text line-clamp-1 text-2xl">{{- value -}}</span>
                </div>
                <div class="w-11 select-icon border-l-2 border-black flex items-center justify-center">
                  <span
                    class="icon-FULL-ICON-SET-WEBSITE-FINAL_Dropdown-arrow font-semibold text-2xl duration-300 ease-in-out"
                  ></span>
                </div>
              </div>
            {% endif %}
          {%- endfor -%}
          <ul class="select-options hidden absolute z-[2] top-full left-0 border-2 border-t-0 border-black bg-white">
            {%- for value in option.values -%}
              <li class="custom-option">
                <label class="cursor-pointer px-2.5 h-11 flex items-center duration-300 ease-in-out">
                  <input
                    {% if option.selected_value == value %}
                      checked
                    {% endif %}
                    type="radio"
                    name="{{ option.name }}"
                    value="{{- value -}}"
                    class="invisible w-0 h-0"
                  >
                  <span data-id="{{ value | escape }}" class="line-clamp-1 text-2xl">
                    {{- value -}}
                  </span>
                </label>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  </div>
{%- endunless -%}
