{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

<div class="splide" aria-label="Product Slider" id="MediaGallery-{{ section.id }}{{ id_append }}">
  <div class="splide__track">
    <ul class="splide__list">
      {%- for media in product.media -%}
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          <li
            class="splide__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            data-media-id="{{ section.id }}-{{ media.id }}"
          >
            {%- assign media_position = 1 -%}
            {% render 'product-thumbnail', media: media, media_count: media_count, lazy_load: lazy_load %}
          </li>
        {%- endif -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <li
            class="splide__slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            data-media-id="{{ section.id }}-{{ media.id }}"
          >
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% render 'product-thumbnail', media: media, media_count: media_count, lazy_load: lazy_load %}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
  </div>
</div>
