{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <div class="select-container">
    <variant-selects
      id="variant-selects-{{ section.id }}"
      class="no-js-hidden product__options grid gap-7 max-w-[218px]"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <div class="custom-select relative">
          {%- for value in option.values -%}
            {% if option.selected_value == value %}
              <div class="custom-select__trigger">
                <span>{{- value -}}</span>
              </div>
            {% endif %}
          {%- endfor -%}
          <ul class="custom-select__options absolute z-[2] w-full top-full left-0">
            {%- for value in option.values -%}
              <li class="custom-option">
                <span data-id="{{ value | escape }}">
                  {{- value -}}
                  {{ option.id -}}
                </span>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  </div>
{%- endunless -%}
