{% comment %}
  Renders share button.
  Accepts:
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    share_link: share_url
  %}
{% endcomment %}
<button
  class="w-full share-button block"
  type="button"
  data-url="{{shop.url}}{{ product.url }}"
  aria-label="{{ 'general.share.share_product' | t  }}"
  title="{{ 'general.share.share_product' | t  }}"
>
  <span class="visually-hidden">{{ 'general.share.share_product' | t }}</span>
  {% render 'icon-share' %}
</button>
