{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="flex items-center flex-wrap gap-[27px] md:gap-[24px]{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="w-[27px] h-[27px] md:w-8 md:h-8">
      <a href="{{ settings.social_facebook_link }}" target="_blank" class="block">
        <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Facebook text-[27px] md:text-[32px]"></span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class="w-[27px] h-[27px] md:w-8 md:h-8">
      <a href="{{ settings.social_twitter_link }}" target="_blank" class="block">
        <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Twitter text-[27px] md:text-[32px]"></span>
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="w-[27px] h-[27px] md:w-8 md:h-8">
      <a href="{{ settings.social_instagram_link }}" target="_blank" class="block">
        <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Instagram text-[27px] md:text-[32px]"></span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="w-[27px] h-[27px] md:w-8 md:h-8">
      <a href="{{ settings.social_youtube_link }}" target="_blank" class="block">
        <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_YouTube text-[27px] md:text-[32px]"></span>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="w-[27px] h-[27px] md:w-8 md:h-8">
      <a href="{{ settings.social_pinterest_link }}" target="_blank" class="block">
        <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Pinterest text-[27px] md:text-[32px]"></span>
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
