<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% style %}
      @font-face {
          font-family: 'Helvetica ThinCond';
          src: url("{{ 'HelveticaNeueLTStd-ThCn.woff2' | asset_url }}") format('woff2');
          src: url("{{ 'HelveticaNeueLTStd-ThCn.eot#iefix' | asset_url }}") format('embedded-opentype'),
              url("{{ 'HelveticaNeueLTStd-ThCn.woff2' | asset_url }}") format('woff2'),
              url("{{ 'HelveticaNeueLTStd-ThCn.woff' | asset_url }}") format('woff'),
              url("{{ 'HelveticaNeueLTStd-ThCn.ttf' | asset_url }}") format('truetype'),
              url("{{ 'HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLTStd-ThCn' | asset_url }}") format('svg');
          font-display: swap;
      }

      @font-face {
          font-family: 'Helvetica Cond';
          src: url("{{ 'HelveticaNeueLTStd-Cn.woff2' | asset_url }}") format('woff2');
          src: url("{{ 'HelveticaNeueLTStd-Cn.?#iefix' | asset_url }}") format('embedded-opentype'),
              url("{{ 'HelveticaNeueLTStd-Cn.woff2' | asset_url }}") format('woff2'),
              url("{{ 'HelveticaNeueLTStd-Cn.woff' | asset_url }}") format('woff'),
              url("{{ 'HelveticaNeueLTStd-Cn.ttf' | asset_url }}") format('truetype'),
              url("{{ 'HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn' | asset_url }}") format('svg');
          font-display: swap;
      }

        @font-face {
            font-family: 'Couture BoldItalic';
            src: url("{{ 'Couture-BoldItalic.woff2' | asset_url }}") format('woff2');
            src: url("{{ 'Couture-BoldItalic.?#iefix' | asset_url }}") format('embedded-opentype'),
                url("{{ 'Couture-BoldItalic.woff2' | asset_url }}") format('woff2'),
                url("{{ 'Couture-BoldItalic.woff' | asset_url }}") format('woff'),
                url("{{ 'Couture-BoldItalic.ttf' | asset_url }}") format('truetype'),
                url("{{ 'Couture-BoldItalic.svg#Couture-BoldItalic' | asset_url }}") format('svg');
            font-weight: bold;
            font-style: italic;
            font-display: swap;
        }

        @font-face {
            font-family: 'Couture Bold';
            src: url("{{ 'Couture-Bold.woff2' | asset_url }}") format('woff2');
            src: url("{{ 'Couture-Bold.?#iefix' | asset_url }}") format('embedded-opentype'),
                url("{{ 'Couture-Bold.woff2' | asset_url }}") format('woff2'),
                url("{{ 'Couture-Bold.woff' | asset_url }}") format('woff'),
                url("{{ 'Couture-Bold.ttf' | asset_url }}") format('truetype'),
                url("{{ 'Couture-Bold.svg#Couture-Bold' | asset_url }}") format('svg');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Open Sans Semibold';
            src: url("{{ 'OpenSans-Semibold.woff2' | asset_url }}") format('woff2');
            src: url("{{ 'OpenSans-Semibold.?#iefix' | asset_url }}") format('embedded-opentype'),
                url("{{ 'OpenSans-Semibold.woff2' | asset_url }}") format('woff2'),
                url("{{ 'OpenSans-Semibold.woff' | asset_url }}") format('woff'),
                url("{{ 'OpenSans-Semibold.ttf' | asset_url }}") format('truetype'),
                url("{{ 'OpenSans-Semibold.svg#OpenSans-Semibold' | asset_url }}") format('svg');
            font-weight: 600;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Open Sans';
            src: url("{{ 'OpenSans.woff2' | asset_url }}") format('woff2');
            src: url("{{ 'OpenSans.?#iefix' | asset_url }}") format('embedded-opentype'),
                url("{{ 'OpenSans.woff2' | asset_url }}") format('woff2'),
                url("{{ 'OpenSans.woff' | asset_url }}") format('woff'),
                url("{{ 'OpenSans.ttf' | asset_url }}") format('truetype'),
                url("{{ 'OpenSans.svg#OpenSans' | asset_url }}") format('svg');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'AXIS Extra';
            src: url("{{ 'AXIS-ExtraBold.woff2' | asset_url }}") format('woff2');
            src: url("{{ 'AXIS-ExtraBold.?#iefix' | asset_url }}") format('embedded-opentype'),
                url("{{ 'AXIS-ExtraBold.woff2' | asset_url }}") format('woff2'),
                url("{{ 'AXIS-ExtraBold.woff' | asset_url }}") format('woff'),
                url("{{ 'AXIS-ExtraBold.ttf' | asset_url }}") format('truetype'),
                url("{{ 'AXIS-ExtraBold.svg#AXIS-ExtraBold' | asset_url }}") format('svg');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password gradient">
    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
