<div class=" gradient">
  {% comment %}
    <div class="form-errors">
      {%- if form.errors contains 'email' -%}
        {{ form.errors | default_errors }}
      {%- endif -%}
    </div>
  {% endcomment %}
  <div class="contact page-width">
    <div
      id="bar"
      class="ds_element dissapearing contact__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out"
    >
      <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">Contact Us</h1>
    </div>
    <div class="contact__body grid md:grid-cols-2 gap-[50px]">
      {%- liquid
        assign contact_form_class = 'isolate'
        if settings.animations_reveal_on_scroll
          assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
        endif
      -%}
      {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
        {%- if form.posted_successfully? -%}
          <h2 class="text-sm font-bold mb-2" tabindex="-1" autofocus>
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form-errors mb-2">
            <ul role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          </div>
        {%- endif -%}
        <div class="field flex flex-col mb-5">
          <div class="pl-4 mb-1 flex justify-between">
            <label for="ContactForm-email" class="text-[13px] font-axis">
              {{ 'customer.login_page.email' | t }}
            </label>
            <div>
              <p class="text-right text-[14px] font-bold">*You will be contacted back on this email adress</p>
            </div>
          </div>
          {%- for option in product.options_with_values -%}
            <div class="custom-select relative">
              {%- for value in option.values -%}
                {% if option.selected_value == value %}
                  <div class="select-trigger cursor-pointer border md:border-2 border-black flex h-12">
                    <div class="flex items-center pl-2.5 flex-1">
                      <span class="selected-text font-helveticaLight line-clamp-1 text-xl md:text-2xl text-black font-normal tracking-widerx">
                        {{- value -}}
                      </span>
                    </div>
                    <div class="w-11 select-icon md:border-l-2 border-black flex items-center justify-center">
                      <span
                        class="icon-FULL-ICON-SET-WEBSITE-FINAL_Dropdown-arrow font-semibold text-xl md:text-2xl duration-100 ease-in-out"
                      ></span>
                    </div>
                  </div>
                {% endif %}
              {%- endfor -%}
              <ul class="select-options hidden absolute z-[2] top-full -mt-[1px] md:-mt-[2px] left-0 border md:border-2 border-t-0 border-black bg-white">
                {%- for value in option.values -%}
                  <li class="custom-option{% if option.selected_value == value %} selected{% endif %}">
                    <label class="cursor-pointer px-2.5 h-11 flex items-center duration-200 ease-in-out">
                      <input
                        {% if option.selected_value == value %}
                          checked
                        {% endif %}
                        type="radio"
                        name="{{ option.name }}"
                        value="{{- value -}}"
                        class="invisible w-0 h-0"
                      >
                      <span
                        data-id="{{ value | escape }}"
                        class="line-clamp-1 text-xl md:text-2xl text-black tracking-widerx"
                      >
                        {{- value -}}
                      </span>
                    </label>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endfor -%}
        </div>
        <div class="field flex flex-col mb-5">
          <div class="pl-4 mb-1 flex justify-between">
            <label for="ContactForm-email" class="text-[13px] font-axis">
              {{ 'customer.login_page.email' | t }}
            </label>
            <div>
              <p class="text-right text-[14px] font-bold">*You will be contacted back on this email adress</p>
            </div>
          </div>
          <input
            class="input-field"
            type="email"
            name="contact[email]"
            id="ContactForm-email"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
          >
        </div>
        <div class="field flex flex-col mb-5">
          <div class="pl-4 mb-1">
            <label for="ContactForm-body" class="text-[13px] font-axis">
              {{ 'customer.login_page.email' | t }}
            </label>
          </div>
          <textarea
            id="ContactForm-body"
            class="input-field textarea-field resize-none h-28"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
          >
            {{- form.body -}}
          </textarea>
        </div>
        <div class="contact__button flex justify-center mb-8">
          <button
            type="submit"
            class="btn btn_primary btn_small w-[320px] max-w-full"
          >
            Submit message
          </button>
        </div>
        <div class="space-y-5">
          <p class="text-[17px] font-bold">
            *We generally respond in the course of 4 hours. Please specify the problem you have as clear as possible in
            the message space so we can get to work right away and resolve whichever issues you have.
          </p>
          <p class="text-[17px] font-bold">
            You can also contact us by sending a email to
            <br>
            customersupport@u3faktory.com
          </p>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>
<script>
  document.addEventListener('click', function (e) {
    const target = e.target;
    const customSelect = target.closest('.custom-select');
    const allCustomSelects = document.querySelectorAll('.custom-select');
    if (customSelect && target.closest('.select-trigger')) {
      allCustomSelects.forEach((select) => {
        if (select !== customSelect) {
          select.classList.remove('open');
        }
      });
      customSelect.classList.toggle('open');
    } else if (customSelect && target.tagName === 'INPUT' && target.type === 'radio') {
      customSelect.querySelectorAll('li').forEach((li) => {
        li.classList.remove('selected');
      });
      target.closest('li').classList.add('selected');
      const selectedText = target.nextElementSibling.textContent;
      customSelect.querySelector('.selected-text').textContent = selectedText;
      customSelect.classList.remove('open');
    } else {
      allCustomSelects.forEach((select) => {
        select.classList.remove('open');
      });
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
