<div class=" gradient">
  {% comment %}
    <div class="form-errors">
      {%- if form.errors contains 'email' -%}
        {{ form.errors | default_errors }}
      {%- endif -%}
    </div>
  {% endcomment %}
  <div class="contact page-width">
    <div
      id="bar"
      class="ds_element dissapearing contact__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out"
    >
      <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">Contact Us</h1>
    </div>
    <div class="contact__body grid md:grid-cols-2 gap-[50px]">
      {%- liquid
        assign contact_form_class = 'isolate'
        if settings.animations_reveal_on_scroll
          assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
        endif
      -%}
      {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class="field">
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="ContactForm-name"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="{{ 'templates.contact.form.name' | t }}"
          >
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field flex flex-col mb-5">
          <div class="pl-4 mb-1 flex justify-between">
            <label for="ContactForm-email" class="text-[13px] font-axis">
              {{ 'customer.login_page.email' | t }}
            </label>
            <div>
              <p class="text-right text-[14px] font-bold">*You will be contacted back on this email adress</p>
            </div>
          </div>
          <input
            class="input-field"
            type="email"
            name="contact[email]"
            id="ContactForm-email"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
          >
        </div>
        <div class="field flex flex-col mb-5">
          <div class="pl-4 mb-1">
            <label for="ContactForm-body" class="text-[13px] font-axis">
              {{ 'customer.login_page.email' | t }}
            </label>
          </div>
          <textarea
            id="ContactForm-body"
            class="input-field textarea-field resize-none h-28"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
          >
            {{- form.body -}}
          </textarea>
        </div>
        <div class="contact__button flex justify-center mb-8">
          <button
            type="submit"
            class="btn btn_primary"
          >
            Submit message
          </button>
        </div>
        <div class="space-y-5">
          <p class="text-[17px] font-bold">
            *We generally respond in the course of 4 hours. Please specify the problem you have as clear as possible in
            the message space so we can get to work right away and resolve whichever issues you have.
          </p>
          <p class="text-[17px] font-bold">
            You can also contact us by sending a email to
            <br>
            customersupport@u3faktory.com
          </p>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
