<div class="w-full min-h-[100vh] flex flex-col items-center relative overflow-hidden pb-10 md:pb-8 pt-10">
  <div class="absolute top-0 left-0 bottom-0 right-0 w-full h-full">
    <div
      class="w-full h-full{% if section.settings.mobile_image != blank or section.settings.mobile_video != blank %} max-md:hidden{% endif %}"
    >
      {%- if section.settings.cover_type == 'video' -%}
        {{
          section.settings.video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: true,
            controls: false,
            class: 'w-full h-full object-cover',
            muted: true
        }}
      {%- else -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            width: section.settings.image.width,
            class: 'w-full h-full object-cover',
            height: '100vh',
            sizes: '100vw',
            widths: '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680',
            fetchpriority: 'high'
        }}
      {%- endif -%}
    </div>
    <div class="w-full h-full{% if section.settings.mobile_image != blank or section.settings.mobile_video != blank %} md:hidden{% else %} hidden{% endif %}">
      {%- if section.settings.mobile_cover_type == 'video' -%}
        {{
          section.settings.mobile_video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: true,
            controls: false,
            class: 'w-full h-full object-cover',
            muted: true
        }}
      {%- else -%}
        {{
          section.settings.mobile_image
          | image_url: width: 1440
          | image_tag:
            width: section.settings.mobile_image.width,
            class: 'w-full h-full object-cover',
            height: '100vh',
            sizes: '100vw',
            widths: '450, 660, 900, 1440',
            fetchpriority: 'high'
        }}
      {%- endif -%}
    </div>
  </div>
  <div class="relative z-[1] flex flex-col items-center text-center my-auto">
    <div class="coming-soong__logo pb-[70px] md:pb-[66px]">
      <h1 class="font-coutureBold w-[100px] md:w-[154px] text-[100px] md:text-[154px] h-[84px] md:h-[109px] text-white text-logo leading-none flex items-center">
        {%- if section.settings.logo -%}
          {{
            section.settings.logo
            | image_url: width: 320
            | image_tag: width: section.settings.logo.width, class: 'w-full', widths: '320', fetchpriority: 'high'
          }}
        {%- else -%}
          <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_LOGO-3 leading-none block"></span>
        {%- endif -%}
      </h1>
    </div>
    {%- if section.settings.heading != blank or section.settings.subgheading != blank -%}
      <div class="text-white leading-none">
        {%- if section.settings.heading != blank -%}
          <h2 class="coming-soon__heading tracking-widest coming-soong__devider relative after::content-[''] after:block after:absolute after:top-full after:left-1/2 after:-translate-x-1/2 after:max-w-[465px] after:min-w-[260px] after:w-[55%] md:after:w-[80%] after:h-[1px] after:bg-white">
            {{ section.settings.heading }}
          </h2>
        {%- endif -%}
        {%- if section.settings.subgheading != blank -%}
          <h3 class="font-helveticaLight tracking-xlwidest coming-soon__subheading">
            {{ section.settings.subgheading }}
          </h3>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="mt-[16dvh] max-w-[600px] w-full mx-auto">
      {% form 'customer', class: 'newsletter-form', id: 'newsletter-form' %}
        <input type="hidden" name="contact[tags]" value="{{section.settings.contact_tags}}">
        <div class="newsletter-form__field-wrapper">
          <div class="flex max-md:flex-col items-center md:items-end">
            <div class="relative flex-1 max-md:w-[213px] max-md:mb-[23px] md:mr-5">
              <input
                id="NewsletterForm--{{ section.id }}"
                name="contact[email]"
                value="{{ form.email }}"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="off"
                class="bg-transparent email-input max-md:text-center text-[16px] max-md:h-[20px] w-full border-b border-b-white text-white pl-[4px] pb-[2px] tracking-wider placeholder:tracking-wider placeholder:text-white"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="Newsletter-error--{{ section.id }}"
                {% elsif form.posted_successfully? %}
                  aria-describedby="Newsletter-success--{{ section.id }}"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
              >
              <div
                class="tooltip tooltip_valid absolute top-full -left-[65px] sm:-left-[120px] mt-2.5 whitespace-nowrap bg-white border border-black py-[5px] sm:py-2 px-1 sm:pr-[6px] sm:pl-[8px] duration-300 transition-all ease-in-out opacity-0 invisible"
              >
                <div class="flex items-center">
                  <div class="w-5 sm:w-7 h-5 sm:h-7 mr-[7px]">
                    {%- render 'icon-info' -%}
                  </div>
                  <p class="leading-none text-[10px] sm:text-[15px] tracking-wider font-open">
                    Please write a valid email address to be able to recieve updates.
                  </p>
                </div>
              </div>
              <div
                class="tooltip tooltip_exist absolute top-full mt-[11px] whitespace-nowrap bg-white border border-black py-[5px] sm:py-2 px-1 sm:pr-[6px] sm:pl-[8px] duration-300 transition-all ease-in-out opacity-0 invisible"
              >
                <div class="flex items-center">
                  <div class="w-5 sm:w-7 h-5 sm:h-7 mr-[7px]">
                    {%- render 'icon-info' -%}
                  </div>
                  <p class="leading-none text-[10px] sm:text-[15px] tracking-wider font-open">
                    This email is already in the notification list.
                  </p>
                </div>
              </div>
            </div>

            <button
              type="button"
              class="submit-button bg-black font-axis text-[18px] md:text-xl pb-[9px] pt-[11px] md:py-[5px] px-3 uppercase text-white whitespace-nowrap tracking-wider min-w-[200px] md:min-w-[224px] {% if form.posted_successfully? %} pointer-events-none{% endif %}"
              name="commit"
              id="submitNewsletter"
              aria-label="{{ 'newsletter.keep_updated' | t }}"
            >
              {%- if form.posted_successfully? -%}
                {{ 'newsletter.noted' | t }}
              {%- else -%}
                {{ 'newsletter.keep_updated' | t }}
              {%- endif -%}
            </button>
          </div>
        </div>
      {% endform %}
    </div>
    <div class="coming-soon__socials mt-[10vh]">
      <ul class="flex gap-[56px]">
        {%- if settings.social_facebook_link != blank -%}
          <li class="text-[27px] md:text-[32px] text-white">
            <a href="{{ settings.social_facebook_link }}" class="block">
              <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Facebook block leading-none"></span>
              <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <li class="text-[27px] md:text-[32px] text-white">
            <a href="{{ settings.social_instagram_link }}" class="block">
              <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Instagram block leading-none"></span>
              <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_pinterest_link != blank -%}
          <li class="text-[27px] md:text-[32px] text-white">
            <a href="{{ settings.social_pinterest_link }}" class="block">
              <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Pinterest block leading-none"></span>
              <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    function validateAndSubmitForm() {
      const form = document.getElementById('newsletter-form');
      const tooltip = document.querySelector('.tooltip_valid');
      const submitButton = form.querySelector('.submit-button');
      submitButton.addEventListener('click', function (event) {
        const emailField = form.querySelector('.email-input');
        const email = emailField.value;
        const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if (emailRegex.test(email) && email) {
          submitForm();
        } else {
          tooltip.classList.remove('opacity-0', 'invisible');
          setTimeout(() => {
            tooltip.classList.add('opacity-0', 'invisible');
          }, 3000);
        }
      });

      function submitForm() {
        form.submit();
      }
    }

    validateAndSubmitForm();
    var live_url = window.location.href;
    var result = live_url.includes('form_type=customer');
    if (result) {
      const tooltipExist = document.querySelector('.tooltip_exist');
      tooltipExist.classList.remove('opacity-0', 'invisible');
      setTimeout(() => {
        tooltipExist.classList.add('opacity-0', 'invisible');
      }, 3000);
      history.replaceState(null, null, ' ');
    }

    function removeQueryParameter(param) {
      const url = new URL(window.location.href);
      url.searchParams.delete(param);
      url.hash = ''; // Remove any hash fragment
      history.replaceState(null, null, url.href);
    }

    function removeQueryParameterAndPreventBack(param) {
      const url = new URL(window.location.href);

      // Remove the query parameter and clear hash
      url.searchParams.delete(param);
      url.hash = '';

      // Replace the current history entry with the updated URL
      history.replaceState(null, null, url.href);

      // Push a new state with a unique identifier to prevent back navigation
      history.pushState({ noBack: true }, null, url.href);

      // Intercept the back navigation to prevent it
      window.onpopstate = function (event) {
        history.go(1);
      };
    }

    // Call the function to remove the query parameter and prevent back navigation
    removeQueryParameterAndPreventBack('customer_posted');
  });
</script>

{% schema %}
{
  "name": "t:sections.coming-soon.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "contact_tags",
      "label": "Tag name",
      "info": "Tags from the Shopify Customers Segments"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Section Logo"
    },
    {
      "type": "select",
      "id": "cover_type",
      "options": [
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "video",
      "label": "Cover Type"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.coming-soon.settings.heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "subgheading",
      "label": "t:sections.coming-soon.settings.subheading.label"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "select",
      "id": "mobile_cover_type",
      "options": [
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "video",
      "label": "Cover Type For Mobile"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "Mobile Video"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
  ],
  "presets": [
    {
      "name": "t:sections.coming-soon.presets.name"
    }
  ]
}
{% endschema %}
