{%- liquid
  assign menu_open = false
  for link in section.settings.menu.links
    if link.links != blank
      for childlink in link.links
        if childlink.current
          assign menu_open = true
        endif
      endfor
    endif
    if link.current
      assign menu_open = true
    endif
  endfor
-%}
<header class="md:flex header md:w-fit md:h-screen fixed top-0 left-0 bottom-0 right-0 z-[2]{% if menu_open %} menu-open{% endif %}">
  <div class="header__mobile px-[18px] py-4 bg-gray-10 flex items-center justify-between md:hidden">
    <div class="header__mobile-hamburger w-12">
      {%- render 'icon-hamburger' -%}
    </div>
    <div class="flex items-end gap-x-[20px]">
      <div class="flex itmes-end">
        <form action="{{ routes.search_url }}" class="hidden">
          <input
            type="text"
            placeholder="Search"
            name="q"
            value="{{ search.terms | escape }}"
          >
          <input type="hidden" name="type" value="product,page">
          <input type="hidden" name="options[unavailable_products]" value="hide">
          <input type="hidden" name="options[prefix]" value="last">
          <input type="submit" value="Search">
        </form>
        <div class="w-5">
          {% render 'icon-search' %}
        </div>
      </div>
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
      >
        <div class="w-7">
          {%- render 'icon-account' -%}
        </div>
      </a>
      <a
        href="{{ routes.cart_url }}"
        class="w-6 flex justify-center relative font-coutureBold text-xl"
        id="cart-icon-bubble"
      >
        {%- render 'icon-cart' -%}
        {%- if cart != empty -%}
          <div class="cart-count-bubble absolute left-1/2 -translate-x-1/2 top-1">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- else -%}
          <span class="absolute left-1/2 -translate-x-1/2 top-1"> 0 </span>
        {%- endif -%}
      </a>
    </div>
  </div>
  <div
    class="header__personal max-md:!bg-white max-md:h-full fixed md:relative top-0 left-0 w-[82vw] md:w-[84px] md:flex md:items-center md:justify-center px-1 z-[1] max-md:-translate-x-full max-md:duration-300 max-md:ease-in-out"
    style="background-color: {{ settings.default_color }}"
  >
    {%- if section.settings.personal_menu != blank -%}
      <div class="header__personal-menu relative max-md:flex max-md:flex-col max-md:pt-[18px] max-md:pr-2 max-md:pb-8 max-md:pl-11 md:absolute max-md:h-full w-full md:w-auto left-1/2 -translate-x-1/2 group">
        <div class="header__personal-menu-icon md:cursor-pointer max-md:pb-4 max-md:flex max-md:justify-end">
          <div class="header__personal-menu-icon-closed w-[46px] hidden md:block">
            {%- render 'icon-hamburger' -%}
          </div>
          <div class="header__personal-menu-icon-mobile w-4 rotate-180 md:hidden">
            {%- render 'icon-caret' -%}
          </div>
        </div>
        <div
          class="header__personal-menu-wrapper max-md:overflow-y-auto max-md:!bg-white md:absolute md:top-0 md:left-0 md:px-5 md:py-4 md:w-fit md:min-w-[164px] md:after:content-[''] md:after:block md:after:w-[3px] md:after:h-12 md:after:bg-black md:after:absolute md:after:top-0 md:after:left-0 transition-all duration-300 md:duration-200 translate-y-6 ease-in-out md:opacity-0 md:invisible md:group-hover:translate-y-0 md:group-hover:opacity-100 md:group-hover:visible"
          style="background-color:{{ settings.default_color }}"
        >
          <nav>
            <ul class="space-y-[26px] md:space-y-2.5">
              {%- for link in section.settings.personal_menu.links -%}
                <li
                  {% if forloop.last %}
                    class="[&>a]:border-b-0 [&>a]:pb-0  max-md:pb-4"
                  {% endif -%}
                  {% if forloop.first %}
                    class="max-md:pt-9"
                  {% endif -%}
                >
                  <a
                    id="PersonalMenu-{{ link.handle }}"
                    class="inline-block md:whitespace-nowrap leading-none pb-6 md:pb-3 min-w-[166px] md:min-w-[72px] text-5xl md:text-xl tracking-wide border-b-2 md:border-b border-b-black"
                    href="{{ link.url  }}"
                    {% if link.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        </div>
        <div class="header__personal-menu-footer mt-auto md:hidden">
          <div class="tracking-wide max-w-60 pt-4">
            <small class="text-xl font-open">
              U3&copy; All rights reserved
              {{ 'now' | date: '%Y' }}
            </small>
          </div>
        </div>
      </div>
    {%- endif -%}
    <div class="header__personal-data hidden md:flex flex-col justify-center item items-center">
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        class="header__personal-data-user flex flex-col justify-center item items-center mb-6"
      >
        <div class="header__personal-data-user-icon w-[34px] mb-1.5">
          {%- render 'icon-account' -%}
        </div>
        <div class="header__personal-data-user-name text-[15px] text-center font-open uppercase font-semibold">
          {%- if customer -%}
            {{ 'customer.account_fallback' | t }}
          {%- else -%}
            {{ 'customer.guest' | t }}
          {%- endif -%}
        </div>
      </a>
      <a
        href="{{ routes.cart_url }}"
        class="header__personal-data-cart w-[38px] flex justify-center relative font-coutureBold text-[27px]"
        id="cart-icon-bubble"
      >
        {%- render 'icon-cart' -%}
        {%- if cart != empty -%}
          <div class="cart-count-bubble absolute left-1/2 -translate-x-1/2 top-2">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- else -%}
          <span class="absolute left-1/2 -translate-x-1/2 top-2"> 0 </span>
        {%- endif -%}
      </a>
    </div>
  </div>
  <div class="header__menu flex flex-col w-full md:w-[22vw] md:min-w-[350px] h-full pb-6 pt-4 md:py-[50px] fixed md:relative top-0 left-0 -translate-x-full md:translate-x-0 duration-300 md:duration-0 ease-in-out">
    {%- if section.settings.mobile_image != blank -%}
      {%- liquid
        assign image_height = section.settings.mobile_image.width | divided_by: section.settings.mobile_image.aspect_ratio
        assign image_class = 'absolute top-0 left-0 w-full h-full object-cover md:hidden'
        assign widths = '450, 660, 900, 1320'
      -%}
      {{
        section.settings.mobile_image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.mobile_image.width,
          height: image_height,
          class: image_class,
          sizes: '100vw',
          widths: widths
      }}
    {%- endif -%}
    <div class="flex items-center justify-between md:hidden pl-3 pr-5 relative z-[1]">
      <div class="header__menu-personal-icon w-4">
        {%- render 'icon-caret' -%}
      </div>
      <div class="header__menu-close w-5">
        {%- render 'icon-close-small' -%}
      </div>
    </div>
    <div class="header__menu-content pl-[45px] md:pl-[0] pr-5 md:pr-0 mt-20 md:my-auto flex flex-col overflow-auto relative z-[1]">
      <div class="header__menu-logo md:pl-2">
        {%- if request.page_type == 'index' -%}
          <h1>
        {%- endif -%}
        <a href="{{ routes.root_url }}" class="block">
          {%- if settings.logo != blank -%}
            <div class="w-28 md:w-36">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {{
                settings.logo
                | image_url: width: 400
                | image_tag: class: 'w-full', width: settings.logo_width, alt: logo_alt, preload: true
              }}
            </div>
          {%- endif -%}
        </a>
        {%- if request.page_type == 'index' -%}
          </h1>
        {%- endif -%}
      </div>
      <div class="overflow-y-auto header__menu-wrapaper md:pl-2">
        {% render 'header-dropdown-menu' %}
      </div>
    </div>
    <div class="header__menu-footer pt-3 pl-[50px] md:pl-2 relative z-[1] mt-auto">
      {% render 'social-icons' %}
      <div class="mt-3 tracking-wide max-w-[212px] hidden md:block">
        <small class="text-lg font-open">
          U3&copy; All rights reserved
          {{ 'now' | date: '%Y' }}
        </small>
      </div>
    </div>
  </div>
</header>

{% comment %}
  {%- if settings.cart_type == "notification" -%}
    {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
  {%- endif -%}
{% endcomment %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "personal_menu",
      "label": "t:sections.header.settings.personal_menu.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.header.settings.mobile_image.label"
    }
  ]
}
{% endschema %}
