<header class="md:flex header w-full md:w-auto md:h-screen fixed top-0 left-0 bottom-0 right-0 z-[2]">
  <div class="header__mobile px-[18px] py-4 bg-gray-10 flex items-center justify-between md:hidden">
    <div class="header__mobile-hamburger w-12">
      {%- render 'icon-hamburger' -%}
    </div>
    <div class="flex items-end gap-x-[20px]">
      <div class="flex itmes-end">
        <form action="{{ routes.search_url }}" class="hidden">
          <input
            type="text"
            placeholder="Search"
            name="q"
            value="{{ search.terms | escape }}"
          >
          <input type="hidden" name="type" value="product,page">
          <input type="hidden" name="options[unavailable_products]" value="hide">
          <input type="hidden" name="options[prefix]" value="last">
          <input type="submit" value="Search">
        </form>
        <div class="w-5">
          {% render 'icon-search' %}
        </div>
      </div>
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
      >
        <div class="w-7">
          {%- render 'icon-account' -%}
        </div>
      </a>
      <a
        href="{{ routes.cart_url }}"
        class="w-6 flex justify-center relative font-coutureBold text-xl"
        id="cart-icon-bubble"
      >
        {%- render 'icon-cart' -%}
        {%- if cart != empty -%}
          <div class="cart-count-bubble absolute left-1/2 -translate-x-1/2 top-1">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- else -%}
          <span class="absolute left-1/2 -translate-x-1/2 top-1"> 0 </span>
        {%- endif -%}
      </a>
    </div>
  </div>
  <div
    class="header__personal relative w-[84px] hidden md:flex items-center justify-center px-1"
    style="background-color: {{ settings.default_color }}"
  >
    <div class="header__personal-menu absolute left-1/2 -translate-x-1/2">
      <div class="header__personal-menu-icon cursor-pointer">
        <div class="header__personal-menu-icon-closed w-[46px]">
          {%- render 'icon-hamburger' -%}
        </div>
      </div>
    </div>
    <div class="header__personal-data hidden md:flex flex-col justify-center item items-center">
      <a
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
        class="header__personal-data-user flex flex-col justify-center item items-center mb-6"
      >
        <div class="header__personal-data-user-icon w-[34px] mb-1.5">
          {%- render 'icon-account' -%}
        </div>
        <div class="header__personal-data-user-name text-[15px] text-center font-open uppercase font-semibold">
          {%- if customer -%}
            {{ 'customer.account_fallback' | t }}
          {%- else -%}
            {{ 'customer.guest' | t }}
          {%- endif -%}
        </div>
      </a>
      <a
        href="{{ routes.cart_url }}"
        class="header__personal-data-cart w-[38px] flex justify-center relative font-coutureBold text-[27px]"
        id="cart-icon-bubble"
      >
        {%- render 'icon-cart' -%}
        {%- if cart != empty -%}
          <div class="cart-count-bubble absolute left-1/2 -translate-x-1/2 top-2">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- else -%}
          <span class="absolute left-1/2 -translate-x-1/2 top-2"> 0 </span>
        {%- endif -%}
      </a>
    </div>
  </div>
  <div class="header__menu flex flex-col w-full md:w-[22%] md:min-w-[350px] h-full md:py-[50px] fixed top-0 left-0">
    <div class="header__menu-content my-auto flex flex-col overflow-auto">
      <div class="header__menu-logo pl-2">
        {%- if request.page_type == 'index' -%}
          <h1>
        {%- endif -%}
        <a href="{{ routes.root_url }}" class="block">
          {%- if settings.logo != blank -%}
            <div class="w-36">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {{
                settings.logo
                | image_url: width: 400
                | image_tag: class: 'w-full', width: settings.logo_width, alt: logo_alt, preload: true
              }}
            </div>
          {%- endif -%}
        </a>
        {%- if request.page_type == 'index' -%}
          </h1>
        {%- endif -%}
      </div>
      <div class="overflow-y-auto header__menu-wrapaper pl-2">
        {% render 'header-dropdown-menu' %}
      </div>
    </div>
    <div class="header__menu-footer pt-3 pl-2">
      {% render 'social-icons' %}
      <div class="mt-3 tracking-wide max-w-[212px]">
        <small class="text-lg font-open">
          U3&copy; All rights reserved
          {{ 'now' | date: '%Y' }}
        </small>
      </div>
    </div>
  </div>
</header>

{% comment %}
  {%- if settings.cart_type == "notification" -%}
    {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
  {%- endif -%}
{% endcomment %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}
