{{ 'splide-core.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'splide.min.js' | asset_url }}" defer="defer"></script>
<div class="home-page__carousel-wrapper h-full">
  <div class="splide h-full">
    <div class="splide__track h-full">
      <ul class="splide__list h-full">
        {%- for block in section.blocks -%}
          <li class="splide__slide relative h-full">
            <div class="absolute top-0 left-0 w-full h-full">
              {{
                block.settings.carousel_image
                | image_url: width: 416
                | image_tag: widths: '324, 493, 600, 713, 823, 990, 1100,', class: 'w-full h-full object-cover'
                | escape
              }}
            </div>
            <div class="relative z-[1] h-full home-page__carousel-content text-center text-black pt-[35vh]">
              {%- if block.settings.carouse_label -%}
                <div class="home-page__carousel-content-label mb-[18px]">
                  <h2 class="font-semibold leading-none text-[40px] tracking-widerx">
                    {{ block.settings.carouse_label }}
                  </h2>
                </div>
              {%- endif -%}
              {%- if block.settings.carouse_heading -%}
                <div class="home-page__carousel-content-label leading-none">
                  <h2 class="text-[40px] tracking-widerx font-normal">{{ block.settings.carouse_heading }}</h2>
                </div>
              {%- endif -%}
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const homePageCarousel = new Splide('.splide', {
      arrows: false,
      type: 'loop',
      speed: 800,
      mediaQuery: 'min',
      breakpoints: {
        1024: {
          destroy: true,
        },
      },
    });
    homePageCarousel.mount();
  });
</script>

{% schema %}
{
  "name": "Home Page Carousel",
  "tag": "section",
  "class": "section home-page__carousel absolute top-0 left-0 w-full h-screen",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "button_title",
      "label": "Button Title",
      "default": "SHOP NOW"
    }
  ],
  "blocks": [
    {
      "type": "carousel_item",
      "name": "Carousel Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "carousel_image",
          "label": "Carousel Image"
        },
        {
          "type": "inline_richtext",
          "id": "carouse_label",
          "label": "Label",
          "default": "NEW"
        },
        {
          "type": "inline_richtext",
          "id": "carouse_heading",
          "label": "SUPREMATIST",
          "default": "SLIDE TITLE"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Page Carousel"
    }
  ]
}
{% endschema %}
