<div class="home-page__banner h-full">
  <div class="absolute top-0 left-0 bottom-0 right-0 w-full h-full">
    {%- if section.settings.cover_type == 'video' -%}
      {{
        section.settings.video
        | video_tag:
          image_size: '2560x',
          autoplay: true,
          loop: true,
          controls: false,
          class: 'w-full h-full object-cover',
          muted: true
      }}
    {%- else -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          class: 'w-full h-full object-cover',
          height: '100vh',
          sizes: '100vw',
          widths: '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680',
          fetchpriority: 'high'
      }}
    {%- endif -%}
  </div>
  <div class="relative z-[1] h-full home-page__banner-content hidden border-b-[27px] border-b-transparent">
    <div class="flex flex-col items-center justify-center text-center pt-[3.3%] h-full pl-[35px] pr-[42px]">
      {%- if section.settings.heading -%}
        <div class="home-page__banner-content-heading">
          <h2 class="text-white tracking-widest mb-4">{{ section.settings.heading }}</h2>
        </div>
      {%- endif -%}
      {%- if section.settings.sub_heading -%}
        <div class="mt-2.5 home-page__banner-content-subheading">
          <h2 class="text-white tracking-widest">{{ section.settings.sub_heading }}</h2>
        </div>
      {%- endif -%}
      {%- if section.settings.btn_url -%}
        <div class="mt-[50px] home-page__banner-content-btn">
          <a href="{{ section.settings.btn_url }}" class="btn btn_white-outlined">
            {{ section.settings.button_title }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Page",
  "tag": "section",
  "class": "section home-page__section",
  "settings": [
    {
      "type": "select",
      "id": "cover_type",
      "options": [
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "video",
      "label": "Cover Type"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "20 OFF",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "sub_heading",
      "default": "SITE LAUNCH DISCOUNTS",
      "label": "Sub Heading"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "inline_richtext",
      "id": "button_title",
      "label": "Button Title",
      "default": "SHOP NOW"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Home Page"
    }
  ]
}
{% endschema %}
