<section
  id="MainProduct-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient product-section"
  data-section="{{ section.id }}"
>
  {{ 'component-price.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {{ 'splide-core.min.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'splide.min.js' | asset_url }}" defer="defer"></script>
  {% comment %}
    {%- if product.quantity_price_breaks_configured? -%}
      <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  {% endcomment %}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
  <div>
    <div id="bar" class="lg:hidden px-3.5 bg-gray-10 fixed top-[54px] duration-300 ease-in-out pb-0.5 pt-0">
      <div class="flex justify-between items-center">
        <div class="flex-1 line-clamp-1">
          <h2 class="text-[19px] leading-none font-semibold">
            {{ product.title | escape }}
          </h2>
        </div>
        <div class="text-end" id="price-{{ section.id }}-buy-2">
          {%- render 'price',
            product: product,
            currency: 'symbol',
            use_variant: true,
            show_badges: true,
            price_class: 'price-mobile'
          -%}
        </div>
      </div>
      <div class="flex justify-between">
        <div class="flex-1 line-clamp-1">
          <a
            href="{{ product.metafields.custom.artist_page.value.url }}"
            class="text-[13px] italic block leading-none"
          >
            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
            by {{ product.vendor }}
          </a>
        </div>
        <div class="text-end">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'buy_buttons' -%}
                {%- if block.settings.taxes_text != blank -%}
                  <p class="text-[8px] text-gray-850 italic leading-none mt-1 mr-[2px]">
                    {{ block.settings.taxes_text }}
                  </p>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
    <div class="product flex max-xl:flex-col">
      <div class="grid__item product__media-wrapper xl:w-[61%]">
        {% render 'product-media-gallery', variant_images: variant_images %}
      </div>
      <div class="product__info-wrapper xl:min-w-[360px] md:pr-2 max-lg:px-2.5 grid__item flex-1{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <product-info
          id="ProductInfo-{{ section.id }}"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
          class="lg:max-w-[364px] flex flex-col"
        >
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'title' -%}
                <div class="product__title max-lg:hidden" {{ block.shopify_attributes }}>
                  <h1 class="text-[32px] font-semibold leading-none mb-[11px]">{{ product.title | escape }}</h1>
                  <h2 class="leading-none text-[26px] font-helveticaThinCond italic tracking-wide font-normal">
                    <a
                      href="{{ product.metafields.custom.artist_page.value.url }}"
                    >
                      <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                      by {{ product.vendor }}
                    </a>
                  </h2>
                </div>
              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div
                    class="max-lg:border max-lg:border-black max-lg:px-3 max-lg:py-[10px] product__description max-lg:text-sm max-lg:mt-[55px] max-lg:order-5{% if product.template_suffix == 'originals-product-page' %} originals-product__short-description{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {{ product.description }}
                  </div>
                {%- endif -%}
              {%- when 'variant_picker' -%}
                <div class="{%- if product.variants.size > 1 or product.template_suffix != 'originals-product-page' -%}mb-4 product-variant-picker__margin{% else %}margin-variant-picker{% endif %}{% if product.template_suffix == 'limited-product-page' %} !mb-2.5 limited-product__variant-picker{% endif %}">
                  {% render 'product-variant-picker',
                    product: product,
                    block: block,
                    product_form_id: product_form_id
                  %}
                </div>
              {%- when 'contact_originals' -%}
                <div class="contact-btn">
                  <p class="text-[9px] lg:text-sm leading-none mb-[5px]">
                    <i>NEED MORE INFORMATION ABOUT THIS PIECE?</i>
                  </p>
                  <button
                    href="/pages/contact"
                    class="btn btn_primary w-full lg:max-w-[360px] contact-us btn_small_mobile"
                  >
                    Contact the artist
                  </button>
                </div>
              {%- when 'buy_buttons' -%}
                {%- if block.settings.taxes_text != blank -%}
                  <div class="mb-2.5 max-lg:hidden">
                    <p class="text-[13px] text-gray-850 italic font-semibold">
                      {{ block.settings.taxes_text }}
                    </p>
                  </div>
                {%- endif -%}
                <div class="flex lg:max-w-[360px]">
                  <div
                    id="price-{{ section.id }}-buy"
                    class="max-w-[136px] max-lg:hidden w-full border-2 border-black text-center flex items-center justify-center no-js-hidden"
                    role="status"
                  >
                    {%- render 'price',
                      product: product,
                      currency: 'symbol',
                      use_variant: true,
                      show_badges: true,
                      price_class: 'price--large !font-bold'
                    -%}
                  </div>
                  <div class="flex-1">
                    {%- render 'buy-buttons',
                      block: block,
                      product: product,
                      product_form_id: product_form_id,
                      section_id: section.id,
                      show_pickup_availability: true
                    -%}
                  </div>
                </div>
              {%- when 'copies_left' -%}
                <div class="flex flex-col lg:flex-row items-center copies-left__wrapper">
                  <div class="flex" id="copy-{{ section.id }}">
                    {% assign quantity = product.selected_or_first_available_variant.inventory_quantity %}
                    {% assign quantity_str = quantity | append: '' %}
                    {% if quantity_str == '0' %}
                      <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                        0
                      </div>
                      <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                        0
                      </div>
                      <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                        0
                      </div>
                    {% else %}
                      {% assign length = quantity_str | size %}
                      {% if length == 1 %}
                        <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                          0
                        </div>
                        <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                          0
                        </div>
                        <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                          {{ quantity }}
                        </div>
                      {%- elsif length == 2 -%}
                        <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                          0
                        </div>
                        {% for i in (0..length) %}
                          {% assign char = quantity_str | slice: i, 1 %}
                          {% if char != '' %}
                            <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                              {{ char }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% else %}
                        {% for i in (0..length) %}
                          {% assign char = quantity_str | slice: i, 1 %}
                          {% if char != '' %}
                            <div class="w-[17px] lg:w-[26px] h-[33px] lg:h-[46px] leading-none bg-black mr-[2px] flex items-center justify-center text-2xl lg:text-[33px] text-white">
                              {{ char }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="leading-none lg:ml-2 text-xs lg:text-[19px] max-lg:mt-[5px] uppercase">COPIES LEFT</div>
                </div>
              {%- when 'favorites' -%}
                <div class="lg:max-w-[360px] mt-[11px] lg:mt-[15px]">
                  {%- render 'favorites-button', product: product -%}
                </div>
              {%- when 'contact' -%}
                <div class="max-w-[360px] mt-6 max-lg:hidden">
                  <a
                    href="/pages/contact"
                    class="italic uppercase flex items-center leading-none text-lg text-gray-300 cursor-pointer w-fit font-semibold tracking-widerx contact-us"
                  >
                    <span> Contact us for larger sizes </span>
                    <span
                      class="icon-FULL-ICON-SET-WEBSITE-FINAL_Big-Envelope text-[#121212] !font-semibold inline-block ml-2 -mt-[1px]"
                    ></span>
                  </a>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </product-info>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        function isIE() {
          const ua = window.navigator.userAgent;
          const msie = ua.indexOf('MSIE ');
          const trident = ua.indexOf('Trident/');

          return msie > 0 || trident > 0;
        }

        if (!isIE()) return;
        const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
        const noScriptInputWrapper = document.createElement('div');
        const variantPicker = document.querySelector('variant-selects[data-section="{{ section.id }}"]');
        noScriptInputWrapper.innerHTML = document.querySelector(
          '.product-form__noscript-wrapper-{{ section.id }}'
        ).textContent;
        variantPicker.outerHTML = noScriptInputWrapper.outerHTML;

        document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
          hiddenInput.value = event.currentTarget.value;
        });
      });
    </script>

    {%- liquid
      if product.selected_or_first_available_variant.featured_media
        assign seo_media = product.selected_or_first_available_variant.featured_media
      else
        assign seo_media = product.featured_media
      endif
    -%}

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": {{ product.title | json }},
        "url": {{ request.origin | append: product.url | json }},
        {% if seo_media -%}
          "image": [
            {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
          ],
        {%- endif %}
        "description": {{ product.description | strip_html | json }},
        {% if product.selected_or_first_available_variant.sku != blank -%}
          "sku": {{ product.selected_or_first_available_variant.sku | json }},
        {%- endif %}
        "brand": {
          "@type": "Brand",
          "name": {{ product.vendor | json }}
        },
        "offers": [
          {%- for variant in product.variants -%}
            {
              "@type" : "Offer",
              {%- if variant.sku != blank -%}
                "sku": {{ variant.sku | json }},
              {%- endif -%}
              {%- if variant.barcode.size == 12 -%}
                "gtin12": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 13 -%}
                "gtin13": {{ variant.barcode }},
              {%- endif -%}
              {%- if variant.barcode.size == 14 -%}
                "gtin14": {{ variant.barcode }},
              {%- endif -%}
              "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
              "price" : {{ variant.price | divided_by: 100.00 | json }},
              "priceCurrency" : {{ cart.currency.iso_code | json }},
              "url" : {{ request.origin | append: variant.url | json }}
            }{% unless forloop.last %},{% endunless %}
          {%- endfor -%}
        ]
      }
    </script>
  </div>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'contact_originals' -%}
        <div class="contact-us__modal hidden fixed top-0 left-0 w-full h-[100dvh] z-[99999]">
          <div class="relative w-full h-full flex pt-[65px] pb-6 md:pb-4 overflow-y-auto overflow-x-hidden">
            <div class="relative cart-notification-wrapper md:my-auto left-[50%] lg:left-[62.3%] -translate-x-1/2 w-[94%] lg:w-full max-w-[400px] lg:max-w-[471px]">
              <button
                type="button"
                class="contact-us__modal-close modal__close-button font-bold font-coutureBold absolute bottom-full mb-[11px] right-0 text-[18px] text-white w-7 lg:w-[34px] h-7 lg:h-[34px] bg-black rounded-full leading-none flex justify-center items-center cursor-pointer"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Grey-X-Button text-[28px] md:text-[34px]">
                  <span class="path1"></span><span class="path2"></span>
                </span>
              </button>
              <div
                class="border border-black bg-white px-[7px] md:px-2.5 pt-[17px] md:pt-5 contact-us__modal-wrapper modal-wrapper w-full"
                aria-modal="true"
                role="dialog"
                tabindex="-1"
              >
                <div class="contact-us__modal-heading text-center mb-[21px] md:mb-[30px]">
                  <p class="text-[15px] md:text-[19px] tracking-widest font-bold uppercase leading-none mb-7 md:mb-[44px]">
                    You Are contacting
                  </p>
                  <h2 class="font-coutureBold text-[32px] max-md:tracking-wide md:text-[42px] leading-none tracking-widest font-bold">
                    {{ product.vendor }}
                  </h2>
                  <div>
                    <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Small-Envelope text-[44px] lg:text-[60px]"> </span>
                  </div>
                </div>

                <div class="contact-us__modal-body">
                  {% assign page_url = page.url | append: '#contact-artist-form' %}
                  {% form 'contact', id: 'contact-artist-form', return_to: page_url %}
                    <input
                      class="absolute top-0 left-0 w-0 h-0 p-0 invisible"
                      type="text"
                      name="contact[artist]"
                      id="artist"
                      value="Contacting {{ product.vendor }}"
                    >
                    <div class="contact-subject contact-us__item">
                      <div class="blcok uppercase pl-2.5 font-axis font-extrabold text-[10px] lg:text-[13px]">
                        Regarding
                      </div>
                      <div class="custom-select custom-select_w-full relative">
                        <div class="select-trigger cursor-pointer border border-black flex h-[30px] md:h-10 lg:h-12">
                          <div class="flex items-center pl-2.5 flex-1">
                            <span class="selected-text line-clamp-1 text-[10px] lg:text-sm text-gray-750 font-open uppercase">
                              {{ product.title }}
                            </span>
                          </div>
                          <div class="w-[30px] md:w-11 flex items-center justify-center remove-icon border-black">
                            <span
                              class="icon-FULL-ICON-SET-WEBSITE-FINAL_Grey-X-Button font-semibold duration-100 ease-in-out text-[18px] md:text-[25px]"
                            >
                              <span class="path1 before:!text-[#c1c1c1]"></span><span class="path2"></span>
                            </span>
                          </div>
                          <div class="w-[30px] md:w-11 select-icon border-black items-center justify-center hidden">
                            <span
                              class="icon-FULL-ICON-SET-WEBSITE-FINAL_Next-Button-Arrow font-semibold text-xs duration-100 ease-in-out"
                            ></span>
                          </div>
                        </div>
                        <ul class="select-options select-options_w-full hidden absolute z-[2] top-full left-0 border border-t-0 border-black bg-white">
                          <li class="custom-option selected hidden">
                            <label class="cursor-pointer px-2.5 h-[30px] md:h-11 flex items-center duration-200 ease-in-out">
                              <input
                                checked
                                type="radio"
                                name="contact[regarding]"
                                value="{{ product.title }}"
                                class="invisible w-0 h-0"
                              >
                              <span class="line-clamp-1 text-[10px] lg:text-sm text-gray-750 font-open uppercase">
                                {{- product.title -}}
                              </span>
                            </label>
                          </li>
                          <li class="custom-option">
                            <label class="cursor-pointer px-2.5 h-[30px] md:h-11 flex items-center duration-200 ease-in-out">
                              <input
                                type="radio"
                                name="contact[regarding]"
                                value="Collaboration"
                                class="invisible w-0 h-0"
                              >
                              <span class="line-clamp-1 text-[10px] lg:text-sm text-gray-750 font-open uppercase"
                                >Collaboration</span
                              >
                            </label>
                          </li>
                          <li class="custom-option">
                            <label class="cursor-pointer px-2.5 h-[30px] md:h-11 flex items-center duration-200 ease-in-out">
                              <input
                                type="radio"
                                name="contact[regarding]"
                                value="Commission"
                                class="invisible w-0 h-0"
                              >
                              <span class="line-clamp-1 text-[10px] lg:text-sm text-gray-750 font-open uppercase"
                                >Commission</span
                              >
                            </label>
                          </li>
                          <li class="custom-option">
                            <label class="cursor-pointer px-2.5 h-[30px] md:h-11 flex items-center duration-200 ease-in-out">
                              <input
                                type="radio"
                                name="contact[regarding]"
                                value="Interview"
                                class="invisible w-0 h-0"
                              >
                              <span class="line-clamp-1 text-[10px] lg:text-sm text-gray-750 font-open uppercase"
                                >Interview</span
                              >
                            </label>
                          </li>
                          <li class="custom-option">
                            <label class="cursor-pointer px-2.5 h-[30px] md:h-11 flex items-center duration-200 ease-in-out">
                              <input
                                type="radio"
                                name="contact[regarding]"
                                value="Other"
                                class="invisible w-0 h-0"
                              >
                              <span class="line-clamp-1 text-[10px] lg:text-sm text-gray-750 font-open uppercase"
                                >Other</span
                              >
                            </label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="contact-message contact-us__item">
                      <div class="flex items-end pl-2.5 justify-between">
                        <label
                          for="message"
                          class="blcok uppercase font-axis font-extrabold text-[10px] lg:text-[13px]"
                          >Your Message</label
                        >
                        <div class="form-errors hidden text-[10px] lg:text-[13px]" id="message-error">
                          <span> *Field required </span>
                        </div>
                      </div>
                      <textarea class="block w-full py-2" name="contact[message]" id="message"></textarea>
                    </div>
                    <div class="contact-email contact-us__item">
                      <div class="flex justify-between">
                        <label
                          for="email"
                          class="blcok uppercase pl-2.5 font-axis font-extrabold text-[10px] lg:text-[13px]"
                          >Email</label
                        >
                        <span class="text-right text-[10px] lg:text-[13px] font-bold line-clamp-1 max-w-[60%]">
                          *You will be contacted back on this email address
                        </span>
                      </div>
                      <div class="relative">
                        <input
                          class="block w-full"
                          type="email"
                          name="contact[email]"
                          id="email"
                          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                        >
                        <div
                          class="tooltip absolute top-full -left-4 sm:left-0 mt-2.5 whitespace-nowrap bg-white border border-black py-[5px] sm:py-2 px-1 sm:pr-[6px] sm:pl-[8px] duration-300 transition-all ease-in-out opacity-0 invisible"
                          id="email-tooltip"
                        >
                          <div class="flex items-center">
                            <div class="w-5 sm:w-7 h-5 sm:h-7 mr-[7px]">
                              {%- render 'icon-info' -%}
                            </div>
                            <p class="leading-none text-[10px] sm:text-[15px] tracking-wider font-open">
                              Please write a valid email address to be able to receive replies.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="submit pb-[12px] md:pb-4">
                      <button
                        type="button"
                        class="btn btn_primary w-full max-w-[90%] md:max-w-80 !block mx-auto cursor-pointer !pb-[11px] !pt-[11px]"
                        id="submit-button"
                      >
                        SUBMIT MESSAGE
                      </button>
                    </div>
                  {% endform %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          const contactOpen = document.querySelector('.contact-us'),
            contactModal = document.querySelector('.contact-us__modal'),
            contactClose = document.querySelector('.contact-us__modal-close'),
            contactWrapper = document.querySelector('.contact-us__modal-wrapper'),
            bodyEl = document.querySelector('body');

          const removeIcon = document.querySelector('.remove-icon');
          const selectIcon = document.querySelector('.select-icon');
          const selectTrigger = document.querySelector('.select-trigger span');
          const optionsList = document.querySelector('.select-options');
          const firstOption = optionsList.querySelector('li input[type="radio"]');
          const secondOption = optionsList.querySelector('li:nth-child(2) input[type="radio"]');

          contactOpen.addEventListener('click', () => {
            contactModal.classList.remove('hidden');
            bodyEl.classList.add('overflow-hidden');
            // Remove the 'flex' class from the remove-icon and add 'hidden'
            removeIcon.classList.add('flex');
            removeIcon.classList.remove('hidden');

            // Add 'flex' class to the select-icon and remove 'hidden'
            selectIcon.classList.add('hidden');
            selectIcon.classList.remove('flex');
            firstOption.checked = true;
            secondOption.checked = false;
            selectTrigger.textContent = '{{ product.title }}';
          });

          contactClose.addEventListener('click', () => {
            contactModal.classList.add('hidden');
            contactModal.querySelector('textarea').value = '';
            bodyEl.classList.remove('overflow-hidden');
          });

          document.addEventListener('click', (event) => {
            const form = document.querySelector('#contact-artist-form');
            const emailInput = document.getElementById('email');
            const messageInput = document.getElementById('message');
            const emailTooltip = document.getElementById('email-tooltip');
            const messageError = document.getElementById('message-error');
            const submitButton = document.getElementById('submit-button');

            submitButton.addEventListener('click', function (event) {
              let valid = true;

              // Validate email
              const emailValue = emailInput.value.trim();
              if (emailValue === '' || !validateEmail(emailValue)) {
                emailTooltip.classList.remove('opacity-0', 'invisible');
                valid = false;
                setTimeout(() => {
                  emailTooltip.classList.add('opacity-0', 'invisible');
                }, 1500);
              } else {
                emailTooltip.classList.add('opacity-0', 'invisible');
              }

              // Validate message
              const messageValue = messageInput.value.trim();
              if (messageValue === '') {
                messageError.classList.remove('hidden');
                valid = false;
              } else {
                messageError.classList.add('hidden');
              }

              if (valid) {
                form.submit(); // Submit the form if validation passes
              }
            });

            // Function to validate email format
            function validateEmail(email) {
              const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              return re.test(String(email).toLowerCase());
            }
          });
          document.addEventListener('DOMContentLoaded', function () {
            if (window.location.hash === '#contact-artist-form') {
              const instructionsSent = document.querySelector('.instructions-sent-modal');
              if (instructionsSent) {
                instructionsSent.classList.remove('hidden');
                setTimeout(() => {
                  instructionsSent.classList.add('hidden');
                }, 1000); // Wait for 1 second before hiding the modal
                history.replaceState(null, null, ' ');
              }
            }
          });
        </script>
        <div class="instructions-sent-modal hidden fixed top-1/2 left-[50%] lg:left-[62.3%] -translate-x-1/2 -translate-y-1/2 z-10 w-[96%] md:w-full max-w-fit">
          <div
            class="border border-[#5a5a5a] bg-white px-4 py-3.5 removed-wishlist__modal-wrapper w-full"
            aria-modal="true"
            role="dialog"
            tabindex="-1"
          >
            <div class="removed-wishlist__modal-heading text-center">
              <h2 class="text-[21px] sm:text-[24px] uppercase tracking-xwidest whitespace-nowrap">Message Sent</h2>
            </div>
          </div>
        </div>
    {% endcase %}
  {% endfor %}
  <div class="combination-modal hidden fixed top-1/2 left-[50%] lg:left-[62.3%] -translate-x-1/2 -translate-y-1/2 z-10 w-[96%] md:w-full max-w-fit">
    <div
      class="border border-[#5a5a5a] bg-white px-4 py-3.5 removed-wishlist__modal-wrapper w-full"
      aria-modal="true"
      role="dialog"
      tabindex="-1"
    >
      <div class="removed-wishlist__modal-heading text-center">
        <h2 class="text-[21px] sm:text-[24px] uppercase tracking-xwidest whitespace-nowrap">Combination unavailable</h2>
      </div>
    </div>
  </div>
</section>
{% if customer %}
  {%- render 'wishlist-modal' -%}
{% else %}
  {%- render 'login-modal' -%}
{% endif %}
{%- render 'product-not-available' -%}
{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var mainCarousel = new Splide('.splide-main', {
      rewind: true,
      pagination: true,
      arrows: false,
    });
    var thumbnailsCarousel = new Splide('.splide-thumbnails', {
      gap: 26,
      rewind: true,
      pagination: false,
      arrows: false,
      isNavigation: true,
      perPage: 5,
    });
    mainCarousel.sync(thumbnailsCarousel);
    mainCarousel.mount();
    thumbnailsCarousel.mount();
  });
  document.addEventListener('click', function (e) {
    const target = e.target;
    const customSelect = target.closest('.custom-select');

    const allCustomSelects = document.querySelectorAll('.custom-select');

    // If customSelect is null, it means the click was outside, so close all dropdowns
    if (!customSelect) {
      allCustomSelects.forEach((select) => {
        select.classList.remove('open');
      });
      return;
    }

    const removeIcon = target.closest('.remove-icon');
    const selectIcon = customSelect.querySelector('.select-icon');
    const selectTrigger = customSelect.querySelector('.select-trigger');

    // Prevent dropdown from expanding until .remove-icon is clicked
    if (removeIcon) {
      // Remove the 'flex' class from the remove-icon and add 'hidden'
      removeIcon.classList.remove('flex');
      removeIcon.classList.add('hidden');

      // Add 'flex' class to the select-icon and remove 'hidden'
      selectIcon.classList.remove('hidden');
      selectIcon.classList.add('flex');

      // Remove the first li and make the second one selected
      const optionsList = customSelect.querySelector('.select-options');
      const firstOption = optionsList.querySelector('li');
      const secondOption = optionsList.querySelector('li:nth-child(2)');

      firstOption.querySelector('input[type="radio"]').checked = false;
      secondOption.querySelector('input[type="radio"]').checked = true;

      console.log(firstOption.querySelector('input[type="radio"]').checked);
      console.log(secondOption.querySelector('input[type="radio"]').checked);

      if (secondOption) {
        secondOption.classList.add('selected');
        const selectedText = secondOption.querySelector('span').textContent;
        customSelect.querySelector('.selected-text').textContent = selectedText;
      }

      // Prevent default dropdown toggle behavior after clicking remove-icon
      return;
    }

    // Clicking on the trigger toggles the current dropdown and closes others
    if (target.closest('.select-trigger') && !selectTrigger.querySelector('.remove-icon.flex')) {
      // Close all dropdowns first
      allCustomSelects.forEach((select) => {
        if (select !== customSelect) {
          select.classList.remove('open');
        }
      });
      // Toggle the clicked custom select
      customSelect.classList.toggle('open');
    } else if (target.tagName === 'INPUT' && target.type === 'radio') {
      // Remove selected class from all options
      customSelect.querySelectorAll('li').forEach((li) => {
        li.classList.remove('selected');
      });

      // Add selected class to parent li of the checked radio
      target.closest('li').classList.add('selected');

      // Update the trigger text and close the dropdown
      const selectedText = target.nextElementSibling.textContent;
      customSelect.querySelector('.selected-text').textContent = selectedText;
      customSelect.classList.remove('open');
    } else {
      // Clicking outside any custom select should close all
      allCustomSelects.forEach((select) => {
        select.classList.remove('open');
      });
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "copies_left",
      "name": "Copies Left",
      "limit": 1
    },
    {
      "type": "contact_originals",
      "name": "Contact Button",
      "limit": 1
    },
    {
      "type": "contact",
      "name": "Contact Text",
      "limit": 1
    },
    {
      "type": "favorites",
      "name": "Favorites Button",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "id": "swatch_shape",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.label",
          "type": "select",
          "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.info",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__2.label"
            },
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
            }
          ],
          "default": "circle"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "taxes_text",
          "default": "* VAT INCLUDED / EXCLUDED SHIPPING COST",
          "label": "Taxes text"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    }
  ],
  "settings": []
}
{% endschema %}
