{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<div class="cart__wrapper flex flex-col relative lg:pr-7">
  <cart-items class="gradient  isolate{% if cart == empty %} is-empty{% endif %}">
    <div class="page-width">
      <div
        id="bar"
        class="cart__heading fixed top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out"
      >
        <div class="flex justify-between lg:border-b lg:border-b-black lg:pb-[3px] w-full">
          <h1 class=" font-coutureBold text-[29px] tracking-wide leading-none whitespace-nowrap mr-5 max-md:hidden">
            {{ 'sections.cart.title' | t }}
          </h1>
          <div class="totals max-md:w-full">
            <h2 class="totals__total text-[25px] font-bold leading-none uppercase whitespace-nowrap max-md:flex max-md:justify-between max-md:items-center max-md:w-full">
              <span class="max-md:mr-2">Total </span>
              <span class="totals__total-value"> {{ cart.total_price | money_with_currency }}</span>
            </h2>
          </div>
        </div>
      </div>

      <div class="cart__warnings">
        <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
        <a href="{{ routes.all_products_collection_url }}" class="button">
          {{ 'general.continue_shopping' | t }}
        </a>

        {%- if shop.customer_accounts_enabled and customer == null -%}
          <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
          <p class="cart__login-paragraph">
            {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
          </p>
        {%- endif -%}
      </div>

      <form
        action="{{ routes.cart_url }}"
        class="cart__contents cart__wrapper-items critical-hidden"
        method="post"
        id="cart"
      >
        <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
          <div class="js-contents">
            {%- if cart != empty -%}
              {%- for item in cart.items -%}
                <div class="cart-item cart-item__block flex" id="CartItem-{{ item.index | plus: 1 }}">
                  <div class="cart-item__media">
                    {% if item.image %}
                      <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                      <div class="cart-item__image-container w-[204px] md:w-[122px] h-[204px] md:h-[122px]">
                        <img
                          src="{{ item.image | image_url: width: 300 }}"
                          class="w-full h-full object-cover"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="122"
                          height="{{ 122 | divided_by: item.image.aspect_ratio | ceil }}"
                        >
                      </div>
                    {% endif %}
                  </div>
                  <div class="flex max-md:flex-col w-full ml-[22px] pl-2 md:pr-[14px] pt-1.5 justify-between md:border-b md:border-b-[#8c8c8c]">
                    <div class="pb-3 cart-item__content-left">
                      <div class="mb-2">
                        <a
                          href="{{ item.url }}"
                          class="uppercase text-[22px] lg:text-[25px] font-bold leading-none inline-block"
                        >
                          {{- item.product.title | escape -}}
                        </a>
                        <p class="text-[17px] italic">by {{ item.product.vendor }}</p>
                      </div>
                      <dl class="space-y-1.5">
                        {%- unless item.product.has_only_default_variant -%}
                          {%- for option in item.options_with_values -%}
                            <div class="product-option">
                              <dd class="text-[18px] lg:text-[22px] leading-none">{{ option.value }}</dd>
                            </div>
                          {%- endfor -%}
                        {%- endunless -%}
                        {%- for property in item.properties -%}
                          {%- assign property_first_char = property.first | slice: 0 -%}
                          {%- if property.last != blank and property_first_char != '_' -%}
                            <div class="product-option">
                              <dd class="text-[18px] lg:text-[22px] leading-none">
                                {{ property.last }}
                              </dd>
                            </div>
                          {%- endif -%}
                        {%- endfor -%}
                      </dl>
                    </div>
                    <div class="text-right flex flex-col justify-between cart-item__content-right">
                      <div class="mb-2 max-md:hidden">
                        <cart-remove-button
                          id="Remove-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                          <a
                            href="{{ item.url_to_remove }}"
                            class="text-right text-[20px] font-bold whitespace-nowrap"
                            aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                          >
                            Remove <span class="font-coutureBold text-[15px] font-bold">x</span>
                          </a>
                        </cart-remove-button>
                        <button class="flex items-center text-right font-bold text-[20px] ml-auto whitespace-nowrap">
                          Save for later
                          <span
                            class="icon-FULL-ICON-SET-WEBSITE-FINAL_All-Products-Heart-not-Saved-v2 text-[14px] ml-0.5"
                          ></span>
                        </button>
                      </div>
                      <div class="mb-1">
                        <p class="text-[22px] lg:text-[25px] font-bold text-right leading-none mb-1.5 whitespace-nowrap">
                          {{ item.price | money_with_currency }}
                        </p>
                        <p class="text-[13px] font-bold text-right leading-none italic md:whitespace-nowrap">
                          * VAT INCLUDED / EXCLUDED SHIPPING COST
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            {%- endif -%}
          </div>
        </div>

        <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
        <p
          class="visually-hidden"
          id="shopping-cart-line-item-status"
          aria-live="polite"
          aria-hidden="true"
          role="status"
        >
          {{ 'accessibility.loading' | t }}
        </p>
      </form>
    </div>
  </cart-items>
  <div
    class="gradient cart__footer-wrapper fixed bottom-0 bg-gray-10 lg:bg-white {% if cart == empty %} is-empty{% endif %}"
    id="main-cart-footer"
    data-id="{{ section.id }}"
  >
    <div class="cart__footer isolate flex items-center justify-between h-full">
      {%- if section.settings.privacy_menu.links -%}
        <div class="max-md:hidden">
          <ul class="cart__footer-privacy-menu flex items-center flex-wrap">
            {%- for link in section.settings.privacy_menu.links -%}
              <li>
                <a
                  href="{{ link.url }}"
                  class="underline font-helveticaThinCond font-bold tracking-wider uppercase text-sm whitespace-nowrap"
                >
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
      <div class="cart__blocks ml-auto max-md:w-full">
        <div class="cart__ctas flex items-center md:border-[2px] md:border-black">
          <noscript>
            <button type="submit" class="cart__update-button button button--secondary" form="cart">
              {{ 'sections.cart.update' | t }}
            </button>
          </noscript>
          <p class="totals__total-value whitespace-nowrap text-[25px] font-bold leading-none uppercase px-4 max-md:hidden">
            Total {{ cart.total_price | money_with_currency }}
          </p>
          <button
            type="submit"
            id="checkout"
            class="cart__checkout-button btn btn_primary !flex items-center !tracking-wide whitespace-nowrap max-md:w-full max-md:relative max-md:text-center max-md:justify-center"
            name="checkout"
            {% if cart == empty %}
              disabled
            {% endif %}
            form="cart"
          >
            <span class="md:font-coutureBold text-[30px] max-md:tracking-xwidest md:text-[22px] leading-none">
              {{ 'sections.cart.checkout' | t }}
            </span>
            <span
              class="icon-FULL-ICON-SET-WEBSITE-FINAL_Hand-Truck-Icon max-md:text-[28px] max-md:absolute max-md:top-1/2 max-md:-translate-y-1/2 max-md:right-6"
            ></span>
          </button>
        </div>
        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const bar = document.getElementById('bar');
    let lastScrollTop = 0;

    function handleScroll() {
      let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > lastScrollTop) {
        bar.style.transform = 'translateY(-100%)';
      } else {
        bar.style.transform = 'translateY(0)';
      }

      lastScrollTop = scrollTop;
    }

    function checkWidthAndScroll() {
      if (window.innerWidth <= 767) {
        window.addEventListener('scroll', handleScroll);
      } else {
        window.removeEventListener('scroll', handleScroll);
        bar.style.transform = 'translateY(0)';
      }
    }

    window.addEventListener('resize', checkWidthAndScroll);
    checkWidthAndScroll(); // Initial check

    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "link_list",
      "id": "privacy_menu",
      "label": "Privacy Menu"
    }
  ]
}
{% endschema %}
