<div class="default-page custom-page max-md:px-0 max-lg:px-4">
  <div
    id="bar"
    class="ds_element dissapearing custom-page__heading default-page__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">{{ page.title | escape }}</h1>
  </div>
  <div class="default-page__body custom-page__body max-lg:pt-[56px] pb-7">
    <div class="last-updated">
      {% assign updated_date = page.updated_at | date: '%B %d, %Y' %}
      {% assign created_date = page.created_at | date: '%B %d, %Y' %}
      {{ page.created_at }} - created
      <br>
      {{ page.updated_at }} - updated
      {% if page.updated_at == page.created_at %}
        Last updated: {{ created_date }}
      {% else %}
        Last updated: {{ updated_date }}
      {% endif %}
    </div>
    <div class="custom-page__content max-md:px-2{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
