{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer login customer-login max-lg:px-2">
  <div id="recover">
    <h1
      id="bar"
      tabindex="-1"
      class="font-coutureBold lg:pr-5  text-xl ds_element md:text-[30px] uppercase text-center max-lg:w-full max-lg:left-0 max-lg:py-2 fixed top-[52px]  bg-gray-10 lg:bg-white max-lg:duration-300 max-lg:ease-in-out"
    >
      {{ 'customer.recover_password.title' | t }}
    </h1>
  </div>
  <div class="customer-login__form-wrapper max-w-[522px] mx-auto">
    <div class="customer-login__form-wrapper-heading text-center mb-10">
      <p class="uppercase text-xs md:text-sm font-bold">
        {{ 'customer.recover_password.subtext' | t }}
      </p>
    </div>

    {%- form 'recover_customer_password', return_to: '/account/login#recover' -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="field flex flex-col mb-8">
        <div class="pl-4 mb-1 flex justify-between">
          <label for="RecoverEmail" class="text-[11px] md:text-[13px] font-axis">
            {{ 'customer.login_page.email' | t }}
          </label>
          <div class="form-errors">
            {%- if form.errors -%}
              {{ form.errors.messages.form }}
            {%- endif -%}
          </div>
        </div>
        <input
          class="input-field"
          type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
        >
      </div>
      <div class="flex justify-center mb-10">
        <button class="btn btn_primary !font-coutureBold !text-lg md:!text-[22px] !tracking-xwidest !leading-none !px-6">
          {{ 'customer.login_page.submit' | t }}
        </button>
      </div>
      <div class="flex justify-center">
        <a href="#login" class="flex justify-center items-center font-bold">
          <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Smartphone-Back-to-All-Products-Arrow"></span>
          <span class="text-xs md:text-sm uppercase font-bold ml-2 underline">
            {{ 'customer.login_page.cancel' | t }}
          </span>
        </a>
      </div>
    {%- endform -%}
  </div>
  <div id="login">
    <h1
      id="bar"
      tabindex="-1"
      class="font-coutureBold lg:pr-5 text-xl ds_element md:text-[30px] uppercase text-center max-lg:w-full max-lg:left-0 max-lg:py-2 fixed top-[52px]  bg-gray-10 lg:bg-white max-lg:duration-300 max-lg:ease-in-out"
    >
      {{ 'customer.login_page.title' | t }}
    </h1>
  </div>
  <div class="customer-login__form-wrapper max-w-[522px] mx-auto ">
    <div class="customer-login__form-wrapper-heading flex justify-center items-center mb-10">
      <p class="text-sm uppercase font-bold">DON'T HAVE AN ACCOUNT?</p>
      <span class="uppercase text-xs md:text-sm font-bold px-2.5"> I </span>
      <a href="{{ routes.account_register_url }}" class="text-sm uppercase font-bold underline">
        {{ 'customer.login_page.create_account' | t }}
      </a>
    </div>
    {%- if recover_success == true -%}
      <h3 class="text-sm font-bold mb-2" tabindex="-1" autofocus>
        {{ 'customer.recover_password.success' | t }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login', novalidate: 'novalidate', return_to: '/pages/account-slides' -%}
      <div class="field flex flex-col mb-3.5">
        <div class="pl-4 mb-1 flex justify-between">
          <label for="CustomerEmail" class="text-[11px] md:text-[13px] font-axis">
            {{ 'customer.login_page.email' | t }}
          </label>
          <div class="form-errors">
            {%- if form.errors -%}
              {{ form.errors | default_errors }}
            {%- endif -%}
          </div>
        </div>
        <input
          class="input-field"
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          value="{{form.email}}"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
      </div>

      {%- if form.password_needed -%}
        <div class="field flex flex-col">
          <div class="pl-4 mb-1">
            <label for="CustomerPassword" class="text-[11px] md:text-[13px] font-axis">
              {{ 'customer.login_page.password' | t }}
            </label>
          </div>
          <div class="mb-0.5 relative password-input">
            <input
              class="input-field"
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
            >
            <span
              class="absolute cursor-pointer text-[24px] md:text-[28px] toggle-password top-1/2 -translate-y-1/2 right-4 icon-FULL-ICON-SET-WEBSITE-FINAL_Eye-Icon"
            ></span>
          </div>
          <div class="text-right pr-2">
            <a href="#recover" class="text-xs md:text-sm uppercase font-bold underline">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
          </div>
        </div>
      {%- endif -%}
      <div class="flex justify-center mt-2">
        <button class="btn btn_primary !font-coutureBold !text-lg md:!text-[22px] !tracking-xwidest !leading-none !px-6">
          {{ 'customer.login_page.sign_in' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>

  {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button>
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>
{%- if recover_success -%}
  <div class="removed-wishlist__modal hidden fixed top-1/2 left-[50%] lg:left-[62.3%] -translate-x-1/2 -translate-y-1/2 z-10 w-[96%] md:w-full max-w-fit">
    <div
      class="border border-[#5a5a5a] bg-white px-4 py-3.5 removed-wishlist__modal-wrapper w-full"
      aria-modal="true"
      role="dialog"
      tabindex="-1"
    >
      <div class="removed-wishlist__modal-heading text-center">
        <h2 class="text-[21px] sm:text-[24px] uppercase tracking-xwidest whitespace-nowrap">Instructions Sent</h2>
      </div>
    </div>
  </div>
{%- endif -%}
<script>
  // Function to toggle password visibility
  function togglePasswordVisibility(event) {
    const toggleButton = event.currentTarget;
    const passwordInput = toggleButton.closest('.password-input').querySelector('.input-field');
    toggleButton.classList.toggle('visible');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }

  // Ensure the DOM is fully loaded before attaching event listeners
  document.addEventListener('DOMContentLoaded', () => {
    const togglePasswordButtons = document.querySelectorAll('.toggle-password');

    // Loop through each toggle button and attach a click event listener
    togglePasswordButtons.forEach((button) => {
      button.addEventListener('click', togglePasswordVisibility);
    });
  });
  {% if recover_success %}
    const instructionsSent = document.querySelector('.removed-wishlist__modal');
    if (instructionsSent) {
      instructionsSent.classList.remove('hidden');
      setTimeout(() => {
        instructionsSent.classList.add('hidden');
      }, 1000); // Wait for 1 second before hiding the modal
    }
  {% endif %}
</script>
{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": []
}
{% endschema %}
