{{ 'customer.css' | asset_url | stylesheet_tag }}
<style>
  .my-account__adress{
    input{
      &:checked{
        &+.my-account__adress-radio{
          .my-account__adress-radio-fake{
            background-color: {{ settings.default_color }};
          }
        }
      }
    }
  }
</style>
<div class="customer account max-lg:px-2">
  <div
    id="bar"
    class="ds_element dissapearing main-account__heading max-lg:py-2 fixed top-[52px] lg:top-[27px] bg-gray-10 lg:bg-white max-lg:duration-300 max-lg:ease-in-out flex justify-center"
  >
    <h1 class="font-coutureBold text-xl md:text-3xl uppercase text-center">Prefererences</h1>
  </div>

  <div class="my-account__body max-md:pb-6">
    <div class="my-account__body-item pb-8 md:pb-9 mb-4 md:mb-[61px] border-b border-b-black max-lg:mt-8">
      <div class="my-account__body-item-heading">
        <h2 class="font-axis text-sm md:text-base font-extrabold">
          <span class="text-default-address">Default name / address</span>
          <span class="text-insert-address hidden">Insert new address </span>
        </h2>
      </div>
      <div class="hidden new-address">
        <div id="AddAddress">
          {%- form 'customer_address', customer.new_address -%}
            <div class="grid md:grid-cols-2 gap-[32px] md:justify-between">
              <div class="new-address__grid-col max-w-[468px]">
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressFirstNameNew" class="text-[11px] md:text-[13px] font-axis">
                      {{ 'customer.addresses.first_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[first_name]"
                    id="AddressFirstNameNew"
                    autocomplete="given-name"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressLastNameNew" class="text-[11px] md:text-[13px] font-axis">
                      {{ 'customer.addresses.last_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[last_name]"
                    id="AddressLastNameNew"
                    autocomplete="family-name"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressAddress1New" class="text-[11px] md:text-[13px] font-axis"> Address </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[address1]"
                    id="AddressAddress1New"
                    autocomplete="address-line1"
                  >
                  <div>
                    <p class="text-sm font-bold text-right">*Include street number and apartment number</p>
                  </div>
                </div>
              </div>
              <div class="new-address__grid-col max-w-[468px] w-full ml-auto">
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCityNew" class="text-[11px] md:text-[13px] font-axis"> City </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[city]"
                    id="AddressCityNew"
                    autocomplete="address-level2"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCountryNew" class="text-[11px] md:text-[13px] font-axis"> Country </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[country]"
                    id="AddressCountryNew"
                    autocomplete="country"
                    data-default="{{ form.country }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressZipNew" class="text-[11px] md:text-[13px] font-axis"> zip code </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[zip]"
                    id="AddressZipNew"
                    autocomplete="postal-code"
                    data-default="{{ form.country }}"
                  >
                </div>
                <div class="field flex flex-col justify-end mt-10">
                  <div class="w-full md:w-[226px] grid gap-5 ml-auto">
                    <div class="fake-checkbox__wrapper flex">
                      <div class="w-fit ml-auto">
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_{{ form.id }}" class="flex items-center justify-end">
                          <div class="fake-checkbox w-[11px] h-[11px] border mr-2.5"></div>
                          <div class="text-[11px] md:text-[13px] font-bold">
                            {{ 'customer.addresses.set_default' | t }}
                          </div>
                        </label>
                      </div>
                    </div>
                    <button class="btn btn_primary !text-[17px] w-full font-coutureBold font-bold">
                      Add this address
                    </button>
                    <button
                      class="btn btn_outlined !text-[17px] w-full font-coutureBold font-bold cancel-new-address"
                      type="reset"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {%- endform -%}
        </div>
      </div>
      {%- for address in customer.addresses -%}
        <div id="EditAddress_address-{{ address.id }}" class="hidden edit-address">
          {%- form 'customer_address', address -%}
            <div class="grid md:grid-cols-2 gap-6 md:gap-[32px] md:justify-between">
              <div class="new-address__grid-col max-w-[468px]">
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressFirstNameNew" class="text-[11px] md:text-[13px] font-axis">
                      {{ 'customer.addresses.first_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[first_name]"
                    id="AddressFirstNameNew"
                    autocomplete="given-name"
                    value="{{ form.first_name }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressLastNameNew" class="text-[11px] md:text-[13px] font-axis">
                      {{ 'customer.addresses.last_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[last_name]"
                    id="AddressLastNameNew"
                    autocomplete="family-name"
                    value="{{ form.last_name }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressAddress1New" class="text-[11px] md:text-[13px] font-axis"> Address </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[address1]"
                    id="AddressAddress1New"
                    autocomplete="address-line1"
                    value="{{ form.address1 }}"
                  >
                  <div>
                    <p class="text-xs md:text-sm font-bold text-right">*Include street number and apartment number</p>
                  </div>
                </div>
              </div>
              <div class="new-address__grid-col max-w-[468px] w-full ml-auto">
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCityNew" class="text-[11px] md:text-[13px] font-axis"> City </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[city]"
                    id="AddressCityNew"
                    autocomplete="address-level2"
                    value="{{ form.city }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCountryNew" class="text-[11px] md:text-[13px] font-axis"> Country </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[country]"
                    id="AddressCountryNew"
                    autocomplete="country"
                    data-default="{{ form.country }}"
                    value="{{ form.country }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressZipNew" class="text-[11px] md:text-[13px] font-axis"> zip code </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[zip]"
                    id="AddressZipNew"
                    autocomplete="postal-code"
                    value="{{ form.zip }}"
                  >
                </div>
                <div class="field flex flex-col justify-end mt-10">
                  <div class="w-full md:w-[226px] grid gap-5 ml-auto">
                    <div class="fake-checkbox__wrapper flex">
                      <div class="w-fit ml-auto">
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_{{ form.id }}" class="flex items-center justify-end">
                          <div class="fake-checkbox w-[11px] h-[11px] border mr-2.5"></div>
                          <div class="text-[11px] md:text-[13px] font-bold">
                            {{ 'customer.addresses.set_default' | t }}
                          </div>
                        </label>
                      </div>
                    </div>
                    <button class="btn btn_primary !text-[17px] w-full font-coutureBold font-bold">
                      Edit this address
                    </button>
                    <button
                      class="btn btn_outlined !text-[17px] w-full font-coutureBold font-bold cancel-edit-address"
                      type="reset"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {%- endform -%}
        </div>
      {%- endfor -%}
      <div data-current-address class="grid md:grid-cols-2 gap-x-8 max-md:gap-y-20 md:justify-between current-address">
        <div class="space-y-6 md:space-y-[37px]">
          {%- for address in customer.addresses -%}
            {% if forloop.index == 1 %}
              {% assign address_id = address.id %}
            {% endif %}
            <label
              class="my-account__adress block cursor-pointer w-[240px] relative"
              id="address-{{ address.id }}"
            >
              <input
                type="radio"
                name="adress_item"
                class="absolute w-0 left-0 top-0"
                data-id="{{ address.id }}"
                {% if forloop.index == 1 %}
                  checked
                {% endif %}
              >
              <div class="flex items-center my-account__adress-radio">
                <div
                  class="bg-white w-2.5 md:w-3.5 h-2.5 md:h-3.5 rounded-full border md:border-[2px] border-black duration-300 ease-in-out mr-3 my-account__adress-radio-fake"
                ></div>
                <div class="bg-white border border-black rounded-[4px] p-2 flex-1 w-full max-w-[180px] md:max-w-[210px] [&>p]:text-xs md:[&>p]:text-sm [&>p]:font-bold">
                  {{ address | format_address }}
                </div>
              </div>
            </label>
          {%- endfor -%}
        </div>
        <div class="flex flex-col space-y-4 md:space-y-[21px] w-full md:w-[226px] md:ml-auto">
          <button class="btn btn_primary !text-[17px] w-full uppercase add-new-address font-coutureBold font-bold">
            Add Mew
          </button>
          <button
            class="btn btn_primary !text-[17px] w-full uppercase font-coutureBold font-bold edit-address-button"
            data-target="address-{{ address_id }}"
          >
            Edit Address
          </button>
          <div>
            <button
              class="btn btn_outlined !text-[17px] w-full uppercase delete-address-button font-coutureBold font-bold"
              data-target="/account/addresses/{{ address_id }}"
              data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
            >
              Remove Address
            </button>
            <div class="md:hidden text-right text-xs md:text-sm font-bold">*Buttons affect selected address</div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-account__body-item">
      <div class="my-account__body-item-heading">
        <h2 class="font-axis text-sm md:text-base font-extrabold">
          Change Password<span class="del-acc__text">/Delete Account</span>
        </h2>
      </div>
      <div class="reset-password__wrapper hidden">
        {%- form 'recover_customer_password' -%}
          <div class="grid md:grid-cols-2 gap-8 md:justify-between">
            <div class="max-w-[525px]">
              <div class="field flex flex-col mb-8">
                <div class="pl-4 mb-1 flex md:justify-between">
                  <label for="RecoverEmail" class="text-[11px] md:text-[13px] font-axis">
                    {{ 'customer.login_page.email' | t }}
                  </label>
                  <div class="form-errors">
                    {%- if form.errors -%}
                      {{ form.errors.messages.form }}
                    {%- endif -%}
                  </div>
                </div>
                <input
                  class="input-field"
                  type="email"
                  value=""
                  name="email"
                  id="RecoverEmail"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="RecoverEmail-email-error"
                    autofocus
                  {% endif %}
                >
              </div>
            </div>
            <div class="space-y-[21px] w-full md:w-[226px] md:ml-auto">
              <button class="btn btn_primary !text-[17px] w-full uppercase font-coutureBold font-bold">
                {{ 'customer.login_page.submit' | t }}
              </button>
              <button
                type="button"
                class="btn btn_outlined !text-[17px] w-full uppercase font-coutureBold font-bold toggle-change-password"
              >
                Cancel
              </button>
            </div>
          </div>
        {%- endform -%}
      </div>
      <div class="account-manipulations__wrapper">
        <div class="grid md:grid-cols-2 gap-8 md:justify-between">
          <div></div>
          <div>
            <div class="flex flex-col space-y-[21px] w-full md:w-[226px] md:ml-auto">
              <button class="btn btn_primary !text-[17px] w-full uppercase font-coutureBold font-bold change-password">
                Change Password
              </button>
              <button
                class="btn btn_outlined !text-[17px] w-full uppercase font-coutureBold font-bold delete-account-cta"
              >
                Delete account
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="my-account__footer fixed bottom-0 bg-gray-10 lg:bg-white max-lg:left-0 right-0 lg:pr-[27px] max-md:!hidden"
  >
    <div class="cart__footer isolate flex items-center md:justify-between h-full">
      {%- if section.settings.privacy_menu.links -%}
        <div class="max-md:hidden">
          <ul class="cart__footer-privacy-menu flex items-center flex-wrap">
            {%- for link in section.settings.privacy_menu.links -%}
              <li>
                <a
                  href="{{ link.url }}"
                  class="underline font-helveticaThinCond font-bold tracking-wider uppercase text-sm whitespace-nowrap"
                >
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  </div>
  <div class="remove-account__modal hidden fixed top-1/2 left-[50%] lg:left-[63%] -translate-x-1/2 -translate-y-1/2 z-10 w-[90%] md:w-full max-w-[320px]">
    <button
      type="button"
      class="remove-account__modal-close modal__close-button font-bold font-coutureBold absolute bottom-full mb-4 right-0 text-[18px] text-white w-7 md:w-[34px] h-7 md:h-[34px] bg-black rounded-full leading-none flex justify-center items-center cursor-pointer"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      x
    </button>
    <div
      class="border border-[#5a5a5a] bg-white px-2 pt-8 pb-4 max-h-[360px] remove-account__modal-wrapper w-full"
      aria-modal="true"
      role="dialog"
      tabindex="-1"
    >
      <div class="remove-account__modal-heading text-center mb-5">
        <h2 class="font-bold text-[25px] uppercase">ACCOUNT REMOVAL</h2>
      </div>
      <div class="remove-account__modal-body mb-6">
        <p class="text-[22px] text-center font-bold leading-snug">
          All the data related to this account will be lost. This includes order history. <br>
          Are you sure?
        </p>
      </div>
      <div class="remove-account__modal-footer text-center relative">
        {% form 'contact' %}
          <input
            class="w-0 h-0 absolute top-0 left-0"
            type="text"
            name="contact[regardin]"
            id="reagarding"
            value="Delete account request from {{ customer.first_name }} {{ customer.last_name }}"
          >
          <input
            class="w-0 h-0 absolute top-0 left-0"
            type="email"
            name="contact[email]"
            id="email"
            value="{{ customer.email }}"
          >
          <input
            class="w-0 h-0 absolute top-0 left-0"
            type="text"
            name="contact[user_id]"
            id="text"
            value="User Profile https://admin.shopify.com/store/u3faktory/customers/{{ customer.id }}"
          >
          <button class="w-full btn btn_outlined font-black !text-xl md:!text-2xl">Yes, delete account</button>
        {% endform %}
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const addNew = document.querySelector('.add-new-address'),
      cancelAddNewAaddress = document.querySelector('.cancel-new-address'),
      newAaddress = document.querySelector('.new-address'),
      currentAddress = document.querySelector('.current-address'),
      textDefault = document.querySelector('.text-default-address'),
      textNew = document.querySelector('.text-insert-address'),
      deleteButton = document.querySelector('.delete-address-button');

    addNew.addEventListener('click', () => {
      newAaddress.classList.remove('hidden');
      textNew.classList.remove('hidden');
      currentAddress.classList.add('!hidden');
      textDefault.classList.add('!hidden');
    });
    cancelAddNewAaddress.addEventListener('click', () => {
      newAaddress.classList.add('hidden');
      textNew.classList.add('hidden');
      currentAddress.classList.remove('!hidden');
      textDefault.classList.remove('!hidden');
    });

    deleteButton.addEventListener('click', function (event) {
      const targetUrl = event.currentTarget.dataset.target;
      const confirmMessage = event.currentTarget.getAttribute('data-confirm-message');

      if (confirm(confirmMessage)) {
        Shopify.postLink(targetUrl, {
          parameters: { _method: 'delete' },
        });
      }
    });

    const addressLabels = document.querySelectorAll('.my-account__adress');
    const editButton = document.querySelector('.edit-address-button');

    addressLabels.forEach((label) => {
      label.addEventListener('click', function () {
        const addressId = this.querySelector('input').getAttribute('data-id');
        deleteButton.setAttribute('data-target', `/account/addresses/${addressId}`);
        editButton.setAttribute('data-target', `address-${addressId}`);
      });
    });

    // Trigger click event on the initially checked radio's parent label to set initial values
    const checkedRadio = document.querySelector('.address-radio:checked');
    if (checkedRadio) {
      checkedRadio.closest('.my-account__adress').click();
    }

    // Edit address button click handler
    editButton.addEventListener('click', function () {
      const dataTarget = this.getAttribute('data-target');
      const editDiv = document.getElementById(`EditAddress_${dataTarget}`);
      if (editDiv) {
        editDiv.classList.remove('hidden');
        currentAddress.classList.add('!hidden');
      }
    });

    // Cancel edit address button click handler
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('cancel-edit-address')) {
        const closestEditDiv = event.target.closest('.edit-address');
        if (closestEditDiv) {
          closestEditDiv.classList.add('hidden');
          currentAddress.classList.remove('!hidden');
        }
      }
    });

    const changePasswordBtn = document.querySelector('.change-password'),
      toggleChangePasswordBtn = document.querySelector('.toggle-change-password'),
      manipulationMain = document.querySelector('.account-manipulations__wrapper'),
      resetWrapper = document.querySelector('.reset-password__wrapper');

    changePasswordBtn.addEventListener('click', () => {
      manipulationMain.classList.add('hidden');
      resetWrapper.classList.remove('hidden');
    });
    toggleChangePasswordBtn.addEventListener('click', () => {
      manipulationMain.classList.remove('hidden');
      resetWrapper.classList.add('hidden');
    });

    var removeAccountOpen = document.querySelectorAll('.delete-account-cta'),
      removeAccountModal = document.querySelector('.remove-account__modal'),
      removeAccountClose = document.querySelectorAll('.remove-account__modal-close');

    removeAccountOpen.forEach((button) => {
      button.addEventListener('click', (event) => {
        event.preventDefault();
        removeAccountModal.classList.remove('hidden');
      });
    });

    removeAccountClose.forEach((button) => {
      button.addEventListener('click', (event) => {
        event.preventDefault();
        removeAccountModal.classList.add('hidden');
      });
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "link_list",
      "id": "privacy_menu",
      "label": "Privacy Menu"
    }
  ]
}
{% endschema %}
