{{ 'component-price.css' | asset_url | stylesheet_tag }}

<script src="{{ 'main-search.js' | asset_url }}" defer="defer"></script>

<div class="template-search{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %}">
  <div class="template-search__header page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <h1 class="font-coutureBold text-3xl uppercase text-center">
      {{- 'templates.search.title' | t -}}
    </h1>
    {%- if search.performed -%}
      {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
        {%- if search.results_count > 0 -%}
          <p role="status">
            {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
          </p>
        {%- endif -%}
      {%- endunless -%}
      {%- if search.results_count == 0 and search.filters == empty -%}
        <p role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if search.performed -%}
    <div>
      <div class="product-grid-container" id="ProductGridContainer">
        {%- if search.results.size == 0 and search.filters != empty -%}
          <div
            class="template-search__results collection collection--empty{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
            id="product-grid"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center"></div>
          </div>
        {%- else -%}
          <div
            class="template-search__results collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
            id="product-grid"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay gradient"></div>
            <ul
              class="grid search__grid grid-cols-3"
              role="list"
            >
              {%- for item in search.results -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}

                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                  {% endif %}
                >
                  {%- case item.object_type -%}
                    {%- when 'product' -%}
                      {% render 'card-product', card_product: item, lazy_load: lazy_load %}
                  {%- endcase -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</div>
<div class="custom">
  {% assign collections_array = '' %}

  {% for item in search.results %}
    {% if item.object_type == 'product' %}
      {% for collection in item.collections %}
        {% unless collections_array contains collection.handle
          or collection.handle == 'home-page-collection'
          or collection.handle contains 'all'
        %}
          {% assign collections_array = collections_array | append: collection.handle | append: ',' %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {{ collections_array }}

  {% assign collections_array = collections_array | split: ',' | uniq %}

  {% for collection_handle in collections_array %}
    {% assign collection_products = '' %}
    {% for item in search.results %}
      {% if item.object_type == 'product' %}
        {% for collection in item.collections %}
          {% if collection.handle == collection_handle %}
            {% assign collection_products = collection_products | append: item.id | append: ',' %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% assign collection_products = collection_products | split: ',' | uniq %}
    {% assign collection = collections.all | where: 'handle', collection_handle | first %}

    <h2>{{ collection.title }}</h2>

    {% for product_id in collection_products %}
      {% assign product = all_products[product_id] %}
      <div class="search-result">
        <a href="{{ product.url }}">
          <h3>{{ product.title }}</h3>
          <p>{{ product.price | money }}</p>
        </a>
      </div>
    {% endfor %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
