{{ 'customer.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign orders_count = 0
  for order in customer.orders
    if order.cancelled == false or order.fulfillment_status != 'complete'
      assign orders_count = orders_count | plus: 1
    endif
  endfor
-%}
<div class="customer order-wrapper max-lg:px-4">
  <div
    id="bar"
    class="ds_element dissapearing main-account-order__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">My Orders</h1>
    <ul class="flex space-x-5 max-lg:justify-center pt-5 lg:pt-2">
      <li>
        <a href="/account?view=order-history-active" class="text-[13px] font-bold underline uppercase"> Active </a>
      </li>
      <li>
        <a href="/account?view=order-history-completed" class="text-[13px] font-bold uppercase"> Completed </a>
      </li>
      <li>
        <a href="/account?view=order-history-canceled" class="text-[13px] font-bold uppercase"> Canceled </a>
      </li>
    </ul>
  </div>
  <div class="my-account-order__body max-md:pb-6">
    <ul>
      {%- for order in customer.orders -%}
        {%- if order.cancelled == false and order.fulfillment_status != 'fulfilled' -%}
          <li class="order">
            <div class="order__header p-1.5 border flex justify-between">
              <div>
                <p class="leading-none uppercase mb-1 font-bold">Order No. {{ order.order_number }}</p>
                <p class="leading-none uppercase text-xs font-bold">Status : {{ order.fulfillment_status_label }}</p>
              </div>
              <div class="text-right">
                <p class="leading-none uppercase font-bold mb-1">
                  Total {{ order.total_net_amount | money_with_currency }}
                </p>
                <p class="leading-none text-xs font-bold">{{ order.created_at | date: '%Y/%m/%d' }}</p>
              </div>
            </div>
            <div class="flex flex-col xl:flex-row xl:justify-between xl:items-end">
              <ul class="order__body flex-1">
                {% for item in order.line_items %}
                  <li class="order__body-item">
                    <div class="cart-item cart-item__block" id="CartItem-{{ item.index | plus: 1 }}">
                      <div class="flex">
                        <div class="cart-item__media">
                          {% if item.image %}
                            <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                            <div class="cart-item__image-container max-md:aspect-square max-md:max-w-[204px] max-md:w-[48vw] md:w-[122px] md:h-[122px]">
                              <img
                                src="{{ item.image | image_url: width: 300 }}"
                                class="w-full h-full object-cover"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="122"
                                height="{{ 122 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                            </div>
                          {% endif %}
                        </div>
                        <div class="flex max-md:flex-col w-full ml-[22px] md:pl-2 md:pr-[14px] pt-2 md:pt-1.5 {% if forloop.last %}xl:border-b xl:border-b-[#8c8c8c]{% endif %}">
                          <div class="pb-3 cart-item__content-left">
                            <div class="mb-5 md:mb-2">
                              <a
                                href="{{ item.url }}"
                                class="uppercase text-[22px] lg:text-[25px] font-bold leading-none inline-block"
                              >
                                {{- item.product.title | escape -}}
                              </a>
                              <p class="text-[15px] md:text-[17px] italic max-md:leading-none">
                                by {{ item.product.vendor }}
                              </p>
                            </div>
                            <dl class="space-y-1.5">
                              {%- unless item.product.has_only_default_variant -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option leading-none">
                                    <dd class="text-[21px] leading-none font-bold">
                                      {{ option.value }}
                                    </dd>
                                  </div>
                                {%- endfor -%}
                              {%- endunless -%}
                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option leading-none">
                                    <dd class="text-[21px] leading-none font-bold">
                                      {{ property.last }}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
              <div class="md:w-[325px] w-full space-y-5 pb-5 max-xl:pt-6 xl:border-b xl:border-b-[#8c8c8c]">
                <a href="/pages/contact" class="btn btn_primary w-full uppercase !text-2xl">Contact Us</a>
                <a
                  {% if order.metafields.custom.order_tracking != blank %}
                    target="_blank"
                    href="{{ order.metafields.custom.order_tracking }}"
                  {% else %}
                    href="#"
                  {% endif %}
                  class="btn btn_primary w-full uppercase !text-2xl track-order"
                >
                  Track order
                </a>
                <div>
                  <button
                    class="btn btn_outlined w-full uppercase !text-2xl {% if order.tags contains 'processing' %}cancel-order{% else %}unavailable-cancel-order{% endif %}"
                  >
                    Cancel order
                  </button>
                  {%- if order.tags contains 'processing' -%}
                    <div class="remove-account__modal remove-order__modal hidden fixed top-1/2 left-[50%] lg:left-[63%] -translate-x-1/2 -translate-y-1/2 z-10 w-[90%] md:w-full max-w-[320px]">
                      <button
                        type="button"
                        class="remove-account__modal-close modal__close-button font-bold font-coutureBold absolute bottom-full mb-4 right-0 text-[18px] text-white w-[34px] h-[34px] rounded-full bg-black leading-none flex justify-center items-center cursor-pointer"
                        aria-label="{{ 'accessibility.close' | t }}"
                      >
                        x
                      </button>
                      <div
                        class="border border-[#5a5a5a] bg-white px-2 pt-8 pb-4 max-h-[360px] remove-account__modal-wrapper w-full"
                        aria-modal="true"
                        role="dialog"
                        tabindex="-1"
                      >
                        <div class="remove-account__modal-heading text-center mb-4">
                          <h2 class="font-bold text-[25px] uppercase">Order Cancellation</h2>
                        </div>
                        <div class="remove-account__modal-body mb-10 md:mb-14">
                          <p class="text-[22px] text-center font-bold leading-snug">Are you sure?</p>
                        </div>
                        <div class="remove-account__modal-footer text-center relative">
                          {% form 'contact', return_to: '/account?view=order-history-active' %}
                            <input
                              class="w-0 h-0 absolute top-0 left-0"
                              type="text"
                              name="contact[regardin]"
                              id="reagarding"
                              value="Delete order request from {{ customer.first_name }} {{ customer.last_name }}"
                            >
                            <input
                              class="w-0 h-0 absolute top-0 left-0"
                              type="text"
                              name="contact[order_id]"
                              id="order_id"
                              value="{{ order.id }}"
                            >
                            <input
                              class="w-0 h-0 absolute top-0 left-0"
                              type="email"
                              name="contact[email]"
                              id="email"
                              value="{{ customer.email }}"
                            >
                            <input
                              class="w-0 h-0 absolute top-0 left-0"
                              type="text"
                              name="contact[order_url]"
                              id="text"
                              value="Order URL https://admin.shopify.com/store/u3faktory/orders/{{ order.id }}"
                            >
                            <button type="submit" class="w-full btn btn_outlined font-black !text-xl md:!text-2xl">
                              Yes, request cancel
                            </button>
                          {% endform %}
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
    {%- if orders_count < 0 -%}
      <div>
        <h2 class="text-2xl md:text-[30px] uppercase text-center tracking-xwidest py-[30vh]">NO ORDERS</h2>
      </div>
    {% endif %}
  </div>
  <div class="no-tracking-order__modal hidden border bg-white py-3 md:py-[18px] px-2 md:px-3.5 border-black fixed top-1/2 left-[50%] lg:left-[63%] -translate-x-1/2 -translate-y-1/2 z-10 w-[96%] md:w-full max-w-fit">
    <p class="uppercase text-lg md:text-2xl tracking-xwidest font-bold text-center whitespace-nowrap">
      NO TRACKING DETAILS AT THIS TIME
    </p>
  </div>
  <div class="remove-account__modal remove-order__modal hidden fixed top-1/2 left-[50%] lg:left-[63%] -translate-x-1/2 -translate-y-1/2 z-10 w-[90%] md:w-full max-w-[320px]">
    <button
      type="button"
      class="remove-account__modal-close modal__close-button font-bold font-coutureBold absolute bottom-full mb-4 right-0 text-[18px] text-white w-[34px] h-[34px] rounded-full bg-black leading-none flex justify-center items-center cursor-pointer"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      x
    </button>
    <div
      class="border border-[#5a5a5a] bg-white px-2 pt-8 pb-4 max-h-[360px] remove-account__modal-wrapper w-full"
      aria-modal="true"
      role="dialog"
      tabindex="-1"
    >
      <div class="remove-account__modal-heading text-center mb-4">
        <h2 class="font-bold text-[25px] uppercase">Order Cancellation</h2>
      </div>
      <div class="remove-account__modal-body mb-4">
        <p class="text-[22px] text-center font-bold leading-snug">
          Your order has already been processed hence it can no longer be canceled. For a refund refer to our Refund
          Policy.
        </p>
      </div>
      <div class="remove-account__modal-footer text-center relative">
        <button type="submit" class="w-full btn btn_outlined font-black !text-xl md:!text-2xl">CONTACT US</button>
      </div>
    </div>
  </div>
</div>
<script>
  const cancelOrderButtons = document.querySelectorAll('.cancel-order');

  cancelOrderButtons.forEach((button) => {
    button.addEventListener('click', function () {
      // Find the next sibling modal element
      const modal = this.nextElementSibling;

      if (modal && modal.classList.contains('remove-order__modal')) {
        // Remove the 'hidden' class to show the modal
        modal.classList.remove('hidden');
      }
    });
  });
  document.addEventListener('click', function (event) {
    if (
      event.target.classList.contains('remove-account__modal-close') ||
      event.target.classList.contains('modal__close-button')
    ) {
      const modal = event.target.closest('.remove-order__modal');
      if (modal) {
        modal.classList.add('hidden');
      }
    }
  });
  document.addEventListener('DOMContentLoaded', function () {
    const trackOrderLinks = document.querySelectorAll('a.track-order');

    // Function to handle the click event
    trackOrderLinks.forEach((link) => {
      link.addEventListener('click', function (event) {
        // Check if the href attribute is '#'
        if (this.getAttribute('href') === '#') {
          event.preventDefault(); // Prevent the default anchor action

          const targetElement = document.querySelector('.no-tracking-order__modal');

          if (targetElement) {
            targetElement.classList.remove('hidden');
            setTimeout(() => {
              targetElement.classList.add('hidden');
            }, 2000);
          }
        }
      });
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": []
}
{% endschema %}
