{{ 'customer.css' | asset_url | stylesheet_tag }}
<style>
  .my-account__adress{
    input{
      &:checked{
        &+.my-account__adress-radio{
          .my-account__adress-radio-fake{
            background-color: {{ settings.default_color }};
          }
        }
      }
    }
  }
</style>
<div class="customer account ">
  <div
    id="bar"
    class="ds_element dissapearing main-account__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out flex justify-center"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">Prefererences</h1>
  </div>

  <div class="my-account__body">
    <div class="my-account__body-item pb-9 mb-[61px] border-b border-b-black">
      <div class="my-account__body-item-heading">
        <h2 class="font-axis text-base font-extrabold">Default name / adress</h2>
      </div>
      <div data-new-address class="hidden new-address">
        <div id="AddAddress">
          {%- form 'customer_address', customer.new_address -%}
            <div class="grid grid-cols-2 gap-[32px]">
              <div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressFirstNameNew" class="text-[13px] font-axis">
                      {{ 'customer.addresses.first_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[first_name]"
                    id="AddressFirstNameNew"
                    autocomplete="given-name"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressLastNameNew" class="text-[13px] font-axis">
                      {{ 'customer.addresses.last_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[last_name]"
                    id="AddressLastNameNew"
                    autocomplete="family-name"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressEmailNew" class="text-[13px] font-axis">
                      {{ 'customer.register.email' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="email"
                    name="address[email]"
                    id="AddressEmailNew"
                    autocomplete="email"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressAddress1New" class="text-[13px] font-axis"> Address </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[address1]"
                    id="AddressAddress1New"
                    autocomplete="address-line1"
                  >
                </div>
              </div>
              <div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCityNew" class="text-[13px] font-axis"> City </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[city]"
                    id="AddressCityNew"
                    autocomplete="address-level2"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCountryNew" class="text-[13px] font-axis"> Country </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[country]"
                    id="AddressCountryNew"
                    autocomplete="country"
                    data-default="{{ form.country }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressZipNew" class="text-[13px] font-axis"> zip code </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[zip]"
                    id="AddressZipNew"
                    autocomplete="postal-code"
                    data-default="{{ form.country }}"
                  >
                </div>
                <div class="field flex flex-col justify-end mt-10">
                  <div class="w-[226px] grid gap-5">
                    <button class="btn btn_primary !text-[17px] w-full">Add this address</button>
                    <button class="btn btn_outlined !text-[17px] w-full" type="reset">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          {%- endform -%}
        </div>
      </div>
      <div data-current-address class="grid grid-cols-2 gap-8 justify-between current-address">
        <div class="space-y-[37px]">
          {%- for address in customer.addresses -%}
            {% if forloop.index == 1 %}
              {% assign address_id = address.id %}
            {% endif %}
            <label
              class="my-account__adress block cursor-pointer w-[240px] relative"
              id="address-{{ address.id }}"
            >
              <input
                type="radio"
                name="adress_item"
                class="absolute w-0 left-0 top-0"
                {% if forloop.index == 1 %}
                  checked
                {% endif %}
              >
              <div class="flex items-center my-account__adress-radio">
                <div
                  class="bg-white w-3.5 h-3.5 rounded-full border-[2px] border-black duration-300 ease-in-out mr-3 my-account__adress-radio-fake"
                ></div>
                <div class="bg-white border border-black rounded-[4px] p-2 flex-1 w-full max-w-[210px] [&>p]:text-sm [&>p]:font-bold">
                  {{ address | format_address }}
                </div>
              </div>
            </label>
          {%- endfor -%}
        </div>
        <div class="flex flex-col space-y-[21px] w-[226px] ml-auto">
          <button class="btn btn_primary !text-[17px] w-full uppercase add-new-address">Add Mew</button>
          <button class="btn btn_primary !text-[17px] w-full uppercase">Edit Address</button>
          <button
            class="btn btn_outlined !text-[17px] w-full uppercase delete-address-button"
            data-target="/account/addresses/{{ address_id }}"
            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
          >
            Remove Address
          </button>
        </div>
      </div>
      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>
  </div>
  <div
    class="my-account__footer fixed bottom-0 bg-gray-10 lg:bg-white max-lg:left-0 right-0 lg:pr-[27px]"
  >
    <div class="cart__footer isolate flex items-center justify-between h-full">
      {%- if section.settings.privacy_menu.links -%}
        <div class="max-md:hidden">
          <ul class="cart__footer-privacy-menu flex items-center flex-wrap">
            {%- for link in section.settings.privacy_menu.links -%}
              <li>
                <a
                  href="{{ link.url }}"
                  class="underline font-helveticaThinCond font-bold tracking-wider uppercase text-sm whitespace-nowrap"
                >
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const addNew = document.querySelector('.add-new-address'),
      newAaddress = document.querySelector('.new-address'),
      currentAddress = document.querySelector('.current-address');

    addNew.addEventListener('click', () => {
      newAaddress.classList.remove('hidden');
      currentAddress.classList.add('!hidden');
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "link_list",
      "id": "privacy_menu",
      "label": "Privacy Menu"
    }
  ]
}
{% endschema %}
