{{ 'customer.css' | asset_url | stylesheet_tag }}
<style>
  .my-account__adress{
    input{
      &:checked{
        &+.my-account__adress-radio{
          .my-account__adress-radio-fake{
            background-color: {{ settings.default_color }};
          }
        }
      }
    }
  }
</style>
<div class="customer account ">
  <div
    id="bar"
    class="ds_element dissapearing main-account__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out flex justify-center"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">Prefererences</h1>
  </div>

  <div class="my-account__body">
    <div class="my-account__body-item pb-9 mb-[61px] border-b border-b-black">
      <div class="my-account__body-item-heading">
        <h2 class="font-axis text-base font-extrabold">
          <span class="text-default-address">Default name / adress</span>
          <span class="text-insert-address hidden">Insert new address </span>
        </h2>
      </div>
      <div class="hidden new-address">
        <div id="AddAddress">
          {%- form 'customer_address', customer.new_address -%}
            <div class="grid grid-cols-2 gap-[32px] justify-between">
              <div class="new-address__grid-col max-w-[468px]">
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressFirstNameNew" class="text-[13px] font-axis">
                      {{ 'customer.addresses.first_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[first_name]"
                    id="AddressFirstNameNew"
                    autocomplete="given-name"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressLastNameNew" class="text-[13px] font-axis">
                      {{ 'customer.addresses.last_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[last_name]"
                    id="AddressLastNameNew"
                    autocomplete="family-name"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressAddress1New" class="text-[13px] font-axis"> Address </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[address1]"
                    id="AddressAddress1New"
                    autocomplete="address-line1"
                  >
                  <div>
                    <p class="text-sm font-bold text-right">*Include street number and apartment number</p>
                  </div>
                </div>
              </div>
              <div class="new-address__grid-col max-w-[468px] w-full ml-auto">
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCityNew" class="text-[13px] font-axis"> City </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[city]"
                    id="AddressCityNew"
                    autocomplete="address-level2"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCountryNew" class="text-[13px] font-axis"> Country </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[country]"
                    id="AddressCountryNew"
                    autocomplete="country"
                    data-default="{{ form.country }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressZipNew" class="text-[13px] font-axis"> zip code </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[zip]"
                    id="AddressZipNew"
                    autocomplete="postal-code"
                    data-default="{{ form.country }}"
                  >
                </div>
                <div class="field flex flex-col justify-end mt-10">
                  <div class="w-[226px] grid gap-5 ml-auto">
                    <button class="btn btn_primary !text-[17px] w-full font-coutureBold font-bold">
                      Add this address
                    </button>
                    <button
                      class="btn btn_outlined !text-[17px] w-full font-coutureBold font-bold cancel-new-address"
                      type="reset"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {%- endform -%}
        </div>
      </div>
      {%- for address in customer.addresses -%}
        <div id="EditAddress_address-{{ address.id }}" class="hidden edit-address">
          {%- form 'customer_address', address -%}
            <div class="grid grid-cols-2 gap-[32px] justify-between">
              <div class="new-address__grid-col max-w-[468px]">
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressFirstNameNew" class="text-[13px] font-axis">
                      {{ 'customer.addresses.first_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[first_name]"
                    id="AddressFirstNameNew"
                    autocomplete="given-name"
                    value="{{ form.first_name }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressLastNameNew" class="text-[13px] font-axis">
                      {{ 'customer.addresses.last_name' | t }}
                    </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[last_name]"
                    id="AddressLastNameNew"
                    autocomplete="family-name"
                    value="{{ form.last_name }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressAddress1New" class="text-[13px] font-axis"> Address </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[address1]"
                    id="AddressAddress1New"
                    autocomplete="address-line1"
                    value="{{ form.address1 }}"
                  >
                  <div>
                    <p class="text-sm font-bold text-right">*Include street number and apartment number</p>
                  </div>
                </div>
              </div>
              <div class="new-address__grid-col max-w-[468px] w-full ml-auto">
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCityNew" class="text-[13px] font-axis"> City </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[city]"
                    id="AddressCityNew"
                    autocomplete="address-level2"
                    value="{{ form.city }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressCountryNew" class="text-[13px] font-axis"> Country </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[country]"
                    id="AddressCountryNew"
                    autocomplete="country"
                    data-default="{{ form.country }}"
                    value="{{ form.country }}"
                  >
                </div>
                <div class="field flex flex-col">
                  <div class="pl-4 mb-1 flex">
                    <label for="AddressZipNew" class="text-[13px] font-axis"> zip code </label>
                  </div>
                  <input
                    class="input-field"
                    type="text"
                    name="address[zip]"
                    id="AddressZipNew"
                    autocomplete="postal-code"
                    value="{{ form.zip }}"
                  >
                </div>
                <div class="field flex flex-col justify-end mt-10">
                  <div class="w-[226px] grid gap-5 ml-auto">
                    <button class="btn btn_primary !text-[17px] w-full font-coutureBold font-bold">
                      Edit this address
                    </button>
                    <button
                      class="btn btn_outlined !text-[17px] w-full font-coutureBold font-bold cancel-edit-address"
                      type="reset"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {%- endform -%}
        </div>
      {%- endfor -%}
      <div data-current-address class="grid grid-cols-2 gap-8 justify-between current-address">
        <div class="space-y-[37px]">
          {%- for address in customer.addresses -%}
            {% if forloop.index == 1 %}
              {% assign address_id = address.id %}
            {% endif %}
            <label
              class="my-account__adress block cursor-pointer w-[240px] relative"
              id="address-{{ address.id }}"
            >
              <input
                type="radio"
                name="adress_item"
                class="absolute w-0 left-0 top-0"
                data-id="{{ address.id }}"
                {% if forloop.index == 1 %}
                  checked
                {% endif %}
              >
              <div class="flex items-center my-account__adress-radio">
                <div
                  class="bg-white w-3.5 h-3.5 rounded-full border-[2px] border-black duration-300 ease-in-out mr-3 my-account__adress-radio-fake"
                ></div>
                <div class="bg-white border border-black rounded-[4px] p-2 flex-1 w-full max-w-[210px] [&>p]:text-sm [&>p]:font-bold">
                  {{ address | format_address }}
                </div>
              </div>
            </label>
          {%- endfor -%}
        </div>
        <div class="flex flex-col space-y-[21px] w-[226px] ml-auto">
          <button class="btn btn_primary !text-[17px] w-full uppercase add-new-address font-coutureBold font-bold">
            Add Mew
          </button>
          <button
            class="btn btn_primary !text-[17px] w-full uppercase font-coutureBold font-bold edit-address-button"
            data-target="address-{{ address_id }}"
          >
            Edit Address
          </button>
          <button
            class="btn btn_outlined !text-[17px] w-full uppercase delete-address-button font-coutureBold font-bold"
            data-target="/account/addresses/{{ address_id }}"
            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
          >
            Remove Address
          </button>
        </div>
      </div>
    </div>
    <div class="my-account__body-item">
      <div class="my-account__body-item-heading">
        <h2 class="font-axis text-base font-extrabold">Change Password/Delete Account</h2>
      </div>
      <div class="reset-password__wrapper">
        {%- form 'recover_customer_password' -%}
          <div class="grid grid-cols-2 gap-8 justify-between">
            <div class="max-w-[525px]">
              {% assign recover_success = form.posted_successfully? %}
              {% if recover_success and customer %}
                <script>
                  window.location = '/account/addresses';
                </script>
              {% endif %}
              {%- if recover_success == true -%}
                <h3 class="text-sm font-bold mb-2" tabindex="-1" autofocus>
                  {{ 'customer.recover_password.success' | t }}
                </h3>
              {%- endif -%}
              <div class="field flex flex-col mb-8">
                <div class="pl-4 mb-1 flex justify-between">
                  <label for="RecoverEmail" class="text-[13px] font-axis">
                    {{ 'customer.login_page.email' | t }}
                  </label>
                  <div class="form-errors">
                    {%- if form.errors -%}
                      {{ form.errors.messages.form }}
                    {%- endif -%}
                  </div>
                </div>
                <input
                  class="input-field"
                  type="email"
                  value=""
                  name="email"
                  id="RecoverEmail"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="RecoverEmail-email-error"
                    autofocus
                  {% endif %}
                >
              </div>
            </div>
            <div class="space-y-[21px] w-[226px] ml-auto">
              <button class="btn btn_primary !text-[17px] w-full uppercase add-new-address font-coutureBold font-bold">
                {{ 'customer.login_page.submit' | t }}
              </button>
              <button
                class="btn btn_outlined !text-[17px] w-full uppercase delete-address-button font-coutureBold font-bold"
              >
                Cancel
              </button>
            </div>
          </div>
        {%- endform -%}
      </div>
      <div class="grid grid-cols-2 gap-8 justify-between account-manipulations__wrapper">
        <div></div>
        <div>
          <div class="flex flex-col space-y-[21px] w-[226px] ml-auto">
            <button class="btn btn_primary !text-[17px] w-full uppercase add-new-address font-coutureBold font-bold change-password">
              Change Password
            </button>
            <button
              class="btn btn_outlined !text-[17px] w-full uppercase delete-address-button font-coutureBold font-bold"
            >
              Delete account
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="my-account__footer fixed bottom-0 bg-gray-10 lg:bg-white max-lg:left-0 right-0 lg:pr-[27px]"
  >
    <div class="cart__footer isolate flex items-center justify-between h-full">
      {%- if section.settings.privacy_menu.links -%}
        <div class="max-md:hidden">
          <ul class="cart__footer-privacy-menu flex items-center flex-wrap">
            {%- for link in section.settings.privacy_menu.links -%}
              <li>
                <a
                  href="{{ link.url }}"
                  class="underline font-helveticaThinCond font-bold tracking-wider uppercase text-sm whitespace-nowrap"
                >
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const addNew = document.querySelector('.add-new-address'),
      cancelAddNewAaddress = document.querySelector('.cancel-new-address'),
      newAaddress = document.querySelector('.new-address'),
      currentAddress = document.querySelector('.current-address'),
      textDefault = document.querySelector('.text-default-address'),
      textNew = document.querySelector('.text-insert-address'),
      deleteButton = document.querySelector('.delete-address-button');

    addNew.addEventListener('click', () => {
      newAaddress.classList.remove('hidden');
      textNew.classList.remove('hidden');
      currentAddress.classList.add('!hidden');
      textDefault.classList.add('!hidden');
    });
    cancelAddNewAaddress.addEventListener('click', () => {
      newAaddress.classList.add('hidden');
      textNew.classList.add('hidden');
      currentAddress.classList.remove('!hidden');
      textDefault.classList.remove('!hidden');
    });

    deleteButton.addEventListener('click', function (event) {
      const targetUrl = event.currentTarget.dataset.target;
      const confirmMessage = event.currentTarget.getAttribute('data-confirm-message');

      if (confirm(confirmMessage)) {
        Shopify.postLink(targetUrl, {
          parameters: { _method: 'delete' },
        });
      }
    });

    const addressLabels = document.querySelectorAll('.my-account__adress');
    const editButton = document.querySelector('.edit-address-button');

    addressLabels.forEach((label) => {
      label.addEventListener('click', function () {
        const addressId = this.querySelector('input').getAttribute('data-id');
        deleteButton.setAttribute('data-target', `/account/addresses/${addressId}`);
        editButton.setAttribute('data-target', `address-${addressId}`);
      });
    });

    // Trigger click event on the initially checked radio's parent label to set initial values
    const checkedRadio = document.querySelector('.address-radio:checked');
    if (checkedRadio) {
      checkedRadio.closest('.my-account__adress').click();
    }

    // Edit address button click handler
    editButton.addEventListener('click', function () {
      const dataTarget = this.getAttribute('data-target');
      const editDiv = document.getElementById(`EditAddress_${dataTarget}`);
      if (editDiv) {
        editDiv.classList.remove('hidden');
        currentAddress.classList.add('!hidden');
      }
    });

    // Cancel edit address button click handler
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('cancel-edit-address')) {
        const closestEditDiv = event.target.closest('.edit-address');
        if (closestEditDiv) {
          closestEditDiv.classList.add('hidden');
          currentAddress.classList.remove('!hidden');
        }
      }
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "link_list",
      "id": "privacy_menu",
      "label": "Privacy Menu"
    }
  ]
}
{% endschema %}
