{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer register customer-register">
  <h1 class="font-coutureBold text-[30px] uppercase text-center">
    {{ 'customer.register.title' | t }}
  </h1>
  <div class="customer-register__form-wrapper">
    {%- form 'create_customer', novalidate: 'novalidate' -%}
      <div class="grid grid-cols-2 gap-x-[70px] items-start">
        <div class="max-w-[522px] grid gap-y-6">
          <div class="field flex flex-col">
            <div class="pl-4 mb-1 flex">
              <label for="RegisterForm-FirstName" class="text-[13px] font-axis">
                {{ 'customer.register.first_name' | t }}
              </label>
            </div>
            <input
              class="input-field"
              type="text"
              name="customer[first_name]"
              id="RegisterForm-FirstName"
              {% if form.first_name %}
                value="{{ form.first_name }}"
              {% endif %}
              autocomplete="given-name"
            >
          </div>
          <div class="field flex flex-col">
            <div class="pl-4 mb-1 flex">
              <label for="RegisterForm-LastName" class="text-[13px] font-axis">
                {{ 'customer.register.last_name' | t }}
              </label>
            </div>
            <input
              class="input-field"
              type="text"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}
                value="{{ form.last_name }}"
              {% endif %}
              autocomplete="family-name"
            >
            <div>
              <p class="text-sm font-bold text-right">*Make sure to provide real Name and Surname</p>
            </div>
          </div>
        </div>
        <div class="max-w-[522px] grid gap-y-6 ml-auto w-full">
          <div class="field flex flex-col">
            <div class="pl-4 mb-1 flex justify-between">
              <label for="RegisterForm-email" class="text-[13px] font-axis">
                {{ 'customer.register.email' | t }}
              </label>
              {%- if form.errors contains 'email' -%}
                <div class="form-errors">
                  <span id="RegisterForm-email-error" class="form__message">
                    {{ form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email }}.
                  </span>
                </div>
              {%- endif -%}
            </div>
            <input
              class="input-field"
              type="email"
              name="customer[email]"
              id="RegisterForm-email"
              {% if form.email %}
                value="{{ form.email }}"
              {% endif %}
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-email-error"
              {% endif %}
            >
          </div>
          <div class="field flex flex-col">
            <div class="pl-4 mb-1 flex justify-between">
              <label for="RegisterForm-password" class="text-[13px] font-axis">
                {{ 'customer.register.password' | t }}
              </label>
              {%- if form.errors contains 'password' -%}
                <div class="form-errors">
                  <span id="RegisterForm-password-error" class="form__message">
                    {{ form.errors.translated_fields.password | capitalize }}
                    {{ form.errors.messages.password }}.
                  </span>
                </div>
              {%- endif -%}
            </div>
            <div class="relative password-input">
              <input
                class="input-field"
                type="password"
                name="customer[password]"
                id="RegisterForm-password"
                aria-required="true"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="RegisterForm-password-error"
                {% endif %}
              >
              <span
                class="absolute cursor-pointer text-[28px] toggle-password top-1/2 -translate-y-1/2 right-4 icon-FULL-ICON-SET-WEBSITE-FINAL_Eye-Icon"
              ></span>
            </div>
            <div>
              <p class="text-sm font-bold text-right">*Profile Log in info</p>
            </div>
          </div>
          <div class="flex justify-end">
            <button class="btn btn_primary !font-coutureBold !text-[22px] !tracking-xwidest !leading-none !px-6">
              {{ 'customer.register.submit' | t }}
            </button>
          </div>
        </div>
      </div>
    {%- endform -%}
  </div>
</div>
<script>
  // Function to toggle password visibility
  function togglePasswordVisibility(event) {
    const toggleButton = event.currentTarget;
    const passwordInput = toggleButton.closest('.password-input').querySelector('.input-field');

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }

  // Ensure the DOM is fully loaded before attaching event listeners
  document.addEventListener('DOMContentLoaded', () => {
    const togglePasswordButtons = document.querySelectorAll('.toggle-password');

    // Loop through each toggle button and attach a click event listener
    togglePasswordButtons.forEach((button) => {
      button.addEventListener('click', togglePasswordVisibility);
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": []
}
{% endschema %}
