{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer login customer-login section-{{ section.id }}-padding">
  <h1 id="recover" tabindex="-1" class="font-coutureBold text-[30px] uppercase text-center">
    {{ 'customer.recover_password.title' | t }}
  </h1>
  <div class="customer-login__form-wrapper max-w-[522px] mx-auto">
    <div class="customer-login__form-wrapper-heading text-center">
      <p class="uppercase text-sm font-bold">
        {{ 'customer.recover_password.subtext' | t }}
      </p>
    </div>

    {%- form 'recover_customer_password' -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="field flex flex-col mb-3.5">
        <div class="pl-4 mb-1 flex justify-between">
          <label for="RecoverEmail" class="text-[13px] font-axis">
            {{ 'customer.login_page.email' | t }}
          </label>
          <div class="form-errors">
            {%- if form.errors -%}
              {{ form.errors.messages.form }}
            {%- endif -%}
          </div>
        </div>
        <input
          class="input-field"
          type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
        >
      </div>
      <div class="flex justify-center">
        <button class="btn btn_primary !font-coutureBold !text-[22px] !tracking-xwidest !leading-none !px-6">
          {{ 'customer.login_page.submit' | t }}
        </button>
      </div>
      <div class="flex justify-center">
        <a href="#login" class="flex justify-center">
          <span classs="icon-FULL-ICON-SET-WEBSITE-FINAL_Smartphone-Back-to-All-Products-Arrow"></span>
          <span class="text-sm uppercase font-bold ml-1">
            {{ 'customer.login_page.cancel' | t }}
          </span>
        </a>
      </div>
    {%- endform -%}
  </div>

  <h1 id="login" tabindex="-1" class="font-coutureBold text-[30px] uppercase text-center">
    {{ 'customer.login_page.title' | t }}
  </h1>
  <div class="customer-login__form-wrapper max-w-[522px] mx-auto">
    <div class="customer-login__form-wrapper-heading flex justify-center items-center mb-10">
      <p class="text-sm uppercase font-bold">DON'T HAVE AN ACCOUNT?</p>
      <span class="uppercase text-sm font-bold px-2.5"> I </span>
      <a href="{{ routes.account_register_url }}" class="text-sm uppercase font-bold underline">
        {{ 'customer.login_page.create_account' | t }}
      </a>
    </div>
    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13">
          <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"/>
          <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"/>
          <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
        </svg>
        {{ 'customer.recover_password.success' | t }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login', novalidate: 'novalidate' -%}
      <div class="field flex flex-col mb-3.5">
        <div class="pl-4 mb-1 flex justify-between">
          <label for="CustomerEmail" class="text-[13px] font-axis">
            {{ 'customer.login_page.email' | t }}
          </label>
          <div class="form-errors">
            {%- if form.errors -%}
              {{ form.errors | default_errors }}
            {%- endif -%}
          </div>
        </div>
        <input
          class="input-field"
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          value="{{form.email}}"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
        >
      </div>

      {%- if form.password_needed -%}
        <div class="field flex flex-col">
          <div class="pl-4 mb-1">
            <label for="CustomerPassword" class="text-[13px] font-axis">
              {{ 'customer.login_page.password' | t }}
            </label>
          </div>
          <div class="mb-0.5 relative password-input">
            <input
              class="input-field"
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
            >
            <span
              class="absolute cursor-pointer text-[28px] toggle-password top-1/2 -translate-y-1/2 right-4 icon-FULL-ICON-SET-WEBSITE-FINAL_Eye-Icon"
            ></span>
          </div>
          <div class="text-right pr-2">
            <a href="#recover" class="text-sm uppercase font-bold underline">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
          </div>
        </div>
      {%- endif -%}
      <div class="flex justify-center">
        <button class="btn btn_primary !font-coutureBold !text-[22px] !tracking-xwidest !leading-none !px-6">
          {{ 'customer.login_page.sign_in' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>

  {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button>
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>
<script>
  // Function to toggle password visibility
  function togglePasswordVisibility(event) {
    const toggleButton = event.currentTarget;
    const passwordInput = toggleButton.closest('.password-input').querySelector('.input-field');

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }

  // Ensure the DOM is fully loaded before attaching event listeners
  document.addEventListener('DOMContentLoaded', () => {
    const togglePasswordButtons = document.querySelectorAll('.toggle-password');

    // Loop through each toggle button and attach a click event listener
    togglePasswordButtons.forEach((button) => {
      button.addEventListener('click', togglePasswordVisibility);
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": []
}
{% endschema %}
