{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer account ">
  <div
    id="bar"
    class="ds_element dissapearing main-account__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out flex justify-center"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">Prefererences</h1>
  </div>

  <div class="my-account__body">
    <div class="my-account__body-item pb-9 mb-[61px] border-b border-b-black">
      <div class="my-account__body-item-heading">
        <h2 class="font-axis text-base font-extrabold">Default name / adress</h2>
      </div>
      <div class="grid grid-cols-2 gap-8">
        <div class="space-y-[37px]">
          {%- for address in customer.addresses -%}
            <label class="my-account__adress block cursor-pointer w-[240px]">
              <input type="radio" name="adress_item" class="hidden" checked>
              <div class="flex items-center my-account__adress-radio">
                <div
                  class="w-3.5 h-3.5 rounded-full border-[2px] border-black duration-300 ease-in-out mr-3 my-account__adress-radio-fake"
                  style="background-color: {{ settings.default_color }}"
                ></div>
                <div class="bg-white border border-black rounded-[4px] p-2 flex-1 w-full max-w-[210px]">
                  {{ address | format_address }}
                </div>
              </div>
            </label>
          {%- endfor -%}
        </div>
        <div></div>
      </div>
      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>
  </div>
  <div
    class="my-account__footer fixed bottom-0 bg-gray-10 lg:bg-white max-lg:left-0 right-0 lg:pr-[27px]"
  >
    <div class="cart__footer isolate flex items-center justify-between h-full">
      {%- if section.settings.privacy_menu.links -%}
        <div class="max-md:hidden">
          <ul class="cart__footer-privacy-menu flex items-center flex-wrap">
            {%- for link in section.settings.privacy_menu.links -%}
              <li>
                <a
                  href="{{ link.url }}"
                  class="underline font-helveticaThinCond font-bold tracking-wider uppercase text-sm whitespace-nowrap"
                >
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "link_list",
      "id": "privacy_menu",
      "label": "Privacy Menu"
    }
  ]
}
{% endschema %}
