<div class="customer order-wrapper max-lg:px-2 max-lg:pb-[86px]">
  <div
    id="bar"
    class="ds_element dissapearing main-account-order__heading max-lg:py-[13px] fixed top-[54px] lg:top-[23px] bg-gray-10 lg:bg-white max-lg:duration-300 max-lg:ease-in-out"
  >
    <h1 class="font-coutureBold text-[19px] md:text-3xl max-lg:leading-none uppercase text-center">My Orders</h1>
    <ul class="flex space-x-5 max-lg:justify-center pt-5 lg:pt-1.5 max-lg:hidden">
      <li>
        <a href="/account?view=order-history-active" class="text-[13px] font-bold  uppercase"> Active </a>
      </li>
      <li>
        <a href="/account?view=order-history-completed" class="text-[13px] font-bold underline uppercase">
          Completed
        </a>
      </li>
      <li>
        <a href="/account?view=order-history-canceled" class="text-[13px] font-bold uppercase"> Canceled </a>
      </li>
    </ul>
  </div>
  <div class="my-account-order__body max-md:pb-6">
    <ul class="flex space-x-4 justify-center pt-4 pb-3 lg:hidden">
      <li>
        <a href="/account?view=order-history-active" class="text-[11px] font-bold  uppercase"> Active </a>
      </li>
      <li>
        <a href="/account?view=order-history-completed" class="text-[11px] font-bold underline uppercase">
          Completed
        </a>
      </li>
      <li>
        <a href="/account?view=order-history-canceled" class="text-[11px] font-bold uppercase"> Canceled </a>
      </li>
    </ul>
    {%- assign orders_count = 0 -%}
    <ul>
      {%- for order in customer.orders -%}
        {%- if order.metafields.custom.delivery_completed == true -%}
          {%- assign orders_count = orders_count | plus: 1 -%}
          <li class="order">
            <div class="order__header p-1 md:p-1.5 border flex justify-between">
              <div>
                <p class="leading-none uppercase md:mb-1 font-bold max-md:text-sm">
                  Order No. {{ order.order_number }}
                </p>
                <p class="leading-none uppercase text-[10px] md:text-xs font-bold">Status : Delivered</p>
              </div>
              <div class="text-right">
                <p class="leading-none uppercase font-bold md:mb-1 max-md:text-sm">
                  Total {{ order.total_net_amount | money_with_currency }}
                </p>
                <p class="leading-none text-[10px] md:text-xs font-bold">{{ order.created_at | date: '%Y/%m/%d' }}</p>
              </div>
            </div>
            <div class="flex flex-col xl:flex-row xl:justify-between xl:items-end">
              <ul class="order__body flex-1">
                {% for item in order.line_items %}
                  <li class="order__body-item">
                    <div
                      class="cart-item cart-item__block"
                      id="CartItem-{{ item.index | plus: 1 }}"
                    >
                      <div class="flex">
                        <div class="cart-item__media">
                          {% if item.image %}
                            <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                            <div class="cart-item__image-container max-md:aspect-square max-md:max-w-[204px] max-md:w-[48vw] md:w-[122px] md:h-[122px]">
                              <img
                                src="{{ item.image | image_url: width: 300 }}"
                                class="w-full h-full object-cover"
                                alt="{{ item.image.alt | escape }}"
                                loading="lazy"
                                width="122"
                                height="{{ 122 | divided_by: item.image.aspect_ratio | ceil }}"
                              >
                            </div>
                          {% endif %}
                        </div>
                        <div class="flex max-md:flex-col w-full ml-[22px] md:pl-2 md:pr-[14px] pt-2 md:pt-1.5 {% if forloop.last %}xl:border-b xl:border-b-[#8c8c8c]{% endif %}">
                          <div class="pb-3 cart-item__content-left">
                            <div class="mb-5 md:mb-2">
                              <a
                                href="{{ item.url }}"
                                class="uppercase text-xl md:text-[22px] lg:text-[25px] font-bold leading-none inline-block"
                              >
                                {{- item.product.title | escape -}}
                              </a>
                              <p class="text-[13px] md:text-[17px] italic max-md:leading-none">
                                by {{ item.product.vendor }}
                              </p>
                            </div>
                            <dl class="space-y-2 md:space-y-1.5">
                              {%- unless item.product.has_only_default_variant -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option leading-none">
                                    <dd class="text-lg md:text-[21px] leading-none font-helveticaLight">
                                      {{ option.value }}
                                    </dd>
                                  </div>
                                {%- endfor -%}
                              {%- endunless -%}
                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option leading-none">
                                    <dd class="text-lg md:text-[21px] leading-none font-helveticaLight">
                                      {{ property.last }}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
              <div class="md:w-[325px] w-full space-y-5 pb-5 max-xl:pt-6 xl:border-b xl:border-b-[#8c8c8c]">
                <a href="/pages/contact" class="btn btn_primary w-full uppercase !text-xl md:!text-2xl">Contact Us</a>
              </div>
            </div>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
    {%- if orders_count < 1 -%}
      <div>
        <h2 class="text-xl md:text-[30px] uppercase text-center tracking-xwidest py-[30vh]">NO ORDERS</h2>
      </div>
    {% endif %}
  </div>
  <div class="no-tracking-order__modal hidden border bg-white py-3 md:py-[18px] px-2 md:px-3.5 border-black fixed top-1/2 left-[50%] lg:left-[62.3%] -translate-x-1/2 -translate-y-1/2 z-10 w-[96%] md:w-full max-w-fit">
    <p class="uppercase text-lg md:text-2xl tracking-xwidest font-bold text-center whitespace-nowrap">
      NO TRACKING DETAILS AT THIS TIME
    </p>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Select all anchors with the class 'track-order'
    const trackOrderLinks = document.querySelectorAll('a.track-order');

    // Function to handle the click event
    trackOrderLinks.forEach((link) => {
      link.addEventListener('click', function (event) {
        // Check if the href attribute is '#'
        if (this.getAttribute('href') === '#') {
          event.preventDefault(); // Prevent the default anchor action

          const targetElement = document.querySelector('.no-tracking-order__modal');

          if (targetElement) {
            targetElement.classList.remove('hidden');
            setTimeout(() => {
              targetElement.classList.add('hidden');
            }, 2000);
          }
        }
      });
    });
  });
</script>
{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": []
}
{% endschema %}
